<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Message File Editor"
            extensions="msg"
            icon="icons/msgfile.png"
            contributorClass="org.omnetpp.msg.editor.MsgEditorActionContributor"
            class="org.omnetpp.msg.editor.MsgEditor"
            id="org.omnetpp.msg.editor.MsgEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.omnetpp.msg.editor.MsgDocumentSetupParticipant"
            extensions="msg">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.omnetpp.msg.editor.ToggleComment"
            contextId="org.omnetpp.context.msgEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/">
      </key>
      <key
            commandId="org.omnetpp.msg.editor.CorrectIndentation"
            contextId="org.omnetpp.context.msgEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+I">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            description="Comment/Uncomment the selected lines"
            id="org.omnetpp.msg.editor.ToggleComment"
            name="Toggle Comment">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            description="Reindent selected lines of the MSG source"
            id="org.omnetpp.msg.editor.CorrectIndentation"
            name="Correct Indentation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="OMNeT++ MSG File Editor"
            id="org.omnetpp.context.msgEditor"
            name="Editing MSG Source"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.omnetpp.wizards"
            class="org.omnetpp.msg.editor.wizard.NewMsgFileWizard"
            finalPerspective="org.omnetpp.main.OmnetppPerspective"
            icon="icons/newmsgfile.gif"
            id="org.omnetpp.msg.editor.wizard.new.file"
            name="Message Definition (msg)"
            preferredPerspectives="org.omnetpp.main.OmnetppPerspective, org.eclipse.cdt.ui.CPerspective">
         <description>
            Create a file that contains network elements, like simple or compound modules, channels etc.
         </description>
      </wizard>
   </extension>
  <extension
         point="org.eclipse.ui.navigator.navigatorContent">
           <commonWizard
                 associatedExtensionId="org.omnetpp.navigator.content"
                 menuGroupId="org.eclipse.cdt.ui"
                 type="new"
                 wizardId="org.omnetpp.msg.editor.wizard.new.file">
              <enablement></enablement>
           </commonWizard>
  </extension>

</plugin>
