<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="nedconsistencyproblem"
         name="NED Consistency Problem"
         point="org.eclipse.core.resources.markers">
      <persistent value="false"/>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="nedelement-id">
      </attribute>
   </extension>
   <extension
         id="nedsyntaxproblem"
         name="NED Syntax Problem"
         point="org.eclipse.core.resources.markers">
      <persistent value="false"/>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="nedelement-id">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="All actions global to OMNeT++ NED editing"
            id="org.omnetpp.ned.ActionSet"
            label="OMNeT++"
            visible="true">
         <action
               class="org.omnetpp.ned.core.ui.actions.OpenNedTypeAction"
               definitionId="org.omnetpp.ned.openNedType"
               icon="icons/full/etool16/opennedtype.gif"
               id="openNedType"
               label="Open NED Type..."
               style="push"
               toolbarPath="org.eclipse.search.searchActionSet/Search"
               tooltip="Open NED Type"/>
         <action
               class="org.omnetpp.ned.core.ui.actions.CleanupNedFilesAction"
               definitionId="org.omnetpp.ned.cleanupNedFiles"
               id="cleanupNedFiles"
               label="Clean Up NED Files..."
               tooltip="Clean Up NED Files"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="Open NED Type"
            id="org.omnetpp.ned.openNedType"
            name="Open NED Type"/>
      <command
            description="Clean up and organize all import statements in NED files"
            id="org.omnetpp.ned.cleanupNedFiles"
            name="Clean Up NED Files...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.omnetpp.ned.openNedType"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+N"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               id="source"
               label="Source"
               mnemonic="S">
            <command
                  commandId="org.omnetpp.ned.cleanupNedFiles"
                  id="cleanupNedFiles"
                  mnemonic="N"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:navigate?after=open.ext2">
         <command
               commandId="org.omnetpp.ned.openNedType"
               id="openNedType"
               mnemonic="N"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.omnetpp.ned.openNedType"
            icon="icons/full/etool16/opennedtype.gif">
      </image>
   </extension>
</plugin>
