<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.omnetpp.animation.editors.AnimationEditor"
            contributorClass="org.omnetpp.animation.editors.AnimationContributor"
            default="false"
            extensions="elog"
            icon="icons/full/eobj16/animation.gif"
            id="org.omnetpp.animation.editors.AnimationEditor"
            name="OMNeT++ Animation Player (Technology Preview)">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.omnetpp.views"
            class="org.omnetpp.animation.editors.AnimationView"
            icon="icons/full/eview16/animation.gif"
            id="org.omnetpp.animation.editors.AnimationView"
            name="Animation (Technology Preview)">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="OMNeT++ Animation"
            id="org.omnetpp.context.AnimationCanvas"
            name="AnimationContext"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.omnetpp.animation.editors.AnimationContributor$GotoSimulationTimeHandler"
            id="org.omnetpp.animation.gotoSimulationTime"
            name="Go to Simulation Time...">
      </command>
      <command
            defaultHandler="org.omnetpp.animation.editors.AnimationContributor$GotoEventHandler"
            id="org.omnetpp.animation.gotoEvent"
            name="Go to Event...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.omnetpp.animation.gotoSimulationTime"
            contextId="org.omnetpp.context.AnimationCanvas"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+G">
      </key>
      <key
            commandId="org.omnetpp.animation.gotoEvent"
            contextId="org.omnetpp.context.AnimationCanvas"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+G">
      </key>
   </extension>
</plugin>
