*.so
*.a
*.dylib
*.dll
*.exe
*.o
*.obj
*.class
*_m.cc
*_m.h
*.tab.hh
*.tab.cc
*.bak
*~
*.orig
*.pdb
*.idb
*.ilk
*.manifest
*.vci
*.pyc
.tkenvrc
.tkenvlog
.qtenvrc
.project
.cproject
lex.*yy.cc
/tools
/msys
/mingw
/config.log
/config.status
autom4te.cache/
/bin/*
out/
/lib/
/samples/inet/
Thumbs.db
backups
Thumbs.db
/ide
/Makefile.inc
/makeui
/mingwenv.cmd
/include/systemc.h
/include/systemc
/include/systemcdefs.h
/include/tlm.h
/include/tlm
/include/sysc
/include/tlm_utils
/include/tlm_core
/src/common/ver.h
/src/utils/opp_configfilepath
/src/envir/eventlogwriter.cc
/src/envir/eventlogwriter.h
/src/eventlog/eventlogentries.cc
/src/eventlog/eventlogentries.csv
/src/eventlog/eventlogentries.h
/src/eventlog/eventlogentryfactory.cc
/src/guienv/registernatives.cc
/src/guienv/simkernel_wrap.cxx
/src/tkenv/tclcode.cc
/src/tkenv/tclcode.inc
/src/qtenv/qtenv.pro.user
/src/utils/opp_configfilepath.cmd
/src/nedxml/nedelements.*
/src/nedxml/nedvalidator.*
/src/include/
/ui/.metadata
/ui/org.omnetpp.runtime.nativelibs/src/org/omnetpp/runtime/nativelibs/simkernel/
/ui/org.omnetpp.ide.nativelibs/*.cxx
/ui/org.omnetpp.ide.nativelibs/src/org/omnetpp/*/engine/
/ui/org.omnetpp.ned.model/src/org/omnetpp/ned/model/pojo/*
/ui/*/bin
/samples/.metadata
/samples/*/Makefile
/samples/*/Makefile.vc
/samples/aloha/aloha
/samples/cqn/cqn
/samples/dyna/dyna
/samples/embedding/embedding
/samples/embedding2/embedding2
/samples/fifo/fifo
/samples/histograms/histograms
/samples/hypercube/hypercube
/samples/neddemo/neddemo
/samples/queueinglib/queueinglib.lib
/samples/routing/routing
/samples/sockets/sockets
/samples/tictoc/tictoc
/samples/osg-earth/data/
/samples/canvas/canvas
/samples/osg-intro/osg-intro
/samples/osg-indoor/osg-indoor
/samples/osg-earth/osg-earth
/samples/osg-satellites/osg-satellites
/samples/rundemo.bat
/samples/*/results/
/samples/*/results.*/
/samples/*/frames/
/samples/*/*.mkv
/samples/*/.settings
/tmp/
/ui/org.omnetpp.test.gui/test-workspace/.metadata
/ui/_*/
/test/*/work/
/test/nedtool/nedc-negtests/*.out
/test/eventlog/result/
/test/eventlog/elog/generated/
/test/eventlog/elog/filtered/
/test/stress/results/
/msys/
/mingw/
/samples/*/doc/
.guienv
.computed
/configure.user
/configuser.vc
m.bat
m71.bat
m80.bat
m90.bat
m100.bat
r.bat
r71.bat
r80.bat
r90.bat
r100.bat
