*.a
*.aux
*.bak
*.class
*.cmdenv-log
*.desktop
*.dll
*.dylib
*.exe
*.gdb_history
*.idb
*.ilk
*.jnilib
*.last-copts
*.lex.cc
*.lex.h
*.manifest
*.o
*.obj
*.orig
*.out
*.pdb
*.pyc
*.so
*.tab.cc
*.tab.h
*.tab.hh
*.vci
*/__pycache__/*
*_m.cc
*_m.h
*~
.DS_Store
.ccls-cache
.clangd
.cproject
.metadata
.project
.pydevproject
.qtenvrc
.settings
.vscode
/Makefile.inc
/bin/*
/config.log
/config.status
/configure.user
/doc/src/manual/usman.fls
/doc/src/manual/usman.idx
/doc/src/manual/usman.ilg
/doc/src/manual/usman.log
/doc/src/python-api/_autosummary
/ide
/include/omnetpp/platdep/config.h
/include/omnetpp/platdep/config.h
/include/sysc
/include/systemc
/include/systemc.h
/include/systemcdefs.h
/include/tlm
/include/tlm.h
/include/tlm_core
/include/tlm_utils
/lib/
/mingw
/msys
/python/**/*.pyi
/samples/*/*.mkv
/samples/*/*/results/
/samples/*/*_sanitize
/samples/*/Makefile
/samples/*/doc/
/samples/*/frames/
/samples/*/results.*/
/samples/*/results/
/samples/.metadata
/samples/aloha/aloha
/samples/aloha/aloha_dbg
/samples/canvas/canvas
/samples/canvas/canvas_dbg
/samples/cqn/cqn
/samples/cqn/cqn_dbg
/samples/dyna/dyna
/samples/dyna/dyna_dbg
/samples/embedding/embedding
/samples/embedding/embedding_dbg
/samples/embedding2/embedding2
/samples/embedding2/embedding2_dbg
/samples/fifo/fifo
/samples/fifo/fifo_dbg
/samples/histograms/histograms
/samples/histograms/histograms_dbg
/samples/hypercube/hypercube
/samples/hypercube/hypercube_dbg
/samples/neddemo/neddemo
/samples/neddemo/neddemo_dbg
/samples/openstreetmap/openstreetmap
/samples/openstreetmap/openstreetmap_dbg
/samples/osg-earth/data/
/samples/osg-earth/osg-earth
/samples/osg-earth/osg-earth_dbg
/samples/osg-indoor/osg-indoor
/samples/osg-indoor/osg-indoor_dbg
/samples/osg-intro/osg-intro
/samples/osg-intro/osg-intro_dbg
/samples/osg-satellites/osg-satellites
/samples/osg-satellites/osg-satellites_dbg
/samples/petrinets/petrinets
/samples/petrinets/petrinets
/samples/petrinets/petrinets_dbg
/samples/petrinets/petrinets_dbg
/samples/phy/phy
/samples/phy/phy_dbg
/samples/queueinglib/queueinglib.lib
/samples/queueinglib/queueinglib_dbg.lib
/samples/routing/routing
/samples/routing/routing_dbg
/samples/sockets/sockets
/samples/sockets/sockets_dbg
/samples/tictoc/tictoc
/samples/tictoc/tictoc_dbg
/samples/wiredphy/wiredphy
/samples/wiredphy/wiredphy_dbg
/src/common/ver.h
/src/envir/eventlogwriter.cc
/src/envir/eventlogwriter.h
/src/eventlog/eventlogentries.cc
/src/eventlog/eventlogentries.csv
/src/eventlog/eventlogentries.h
/src/eventlog/eventlogentryfactory.cc
/src/guienv/registernatives.cc
/src/guienv/simkernel_wrap.cxx
/src/nedxml/nedelements.*
/src/nedxml/nedvalidator.*
/src/utils/opp_configfilepath
/src/utils/opp_configfilepath.cmd
/test/*/work/
/test/anim/*/Makefile
/test/build/_buildlog
/test/eventlog/elog/filtered/
/test/eventlog/elog/generated/
/test/eventlog/result/
/test/fingerprint/results/
/test/misc/filereader/generated/
/test/misc/filereader/results/
/test/misc/neddocext/doc/neddoc/
/test/msgc/results/
/test/nedtool/nedc-negtests/*.out
/test/scave/charttemplates/export/
/test/scave/results_api/results/
/test/stress/results/
/tmp/
/tools
/ui/*/.polyglot.META-INF
/ui/*/bin
/ui/_*/
/ui/org.omnetpp.ide.nativelibs/*.cxx
/ui/org.omnetpp.ide.nativelibs/common.h
/ui/org.omnetpp.ide.nativelibs/src/org/omnetpp/*/engine/
/ui/org.omnetpp.ned.model/src/org/omnetpp/ned/model/pojo/*
/ui/org.omnetpp.runtime.nativelibs/src/org/omnetpp/runtime/nativelibs/simkernel/
/ui/org.omnetpp.test.gui/test-workspace/.metadata
/ui/releng/org.omnetpp.ide.omnetpp.product/.polyglot.omnetpp.product
Thumbs.db
autom4te.cache/
backups
compile_commands.json
lex.*yy.cc
out/
