*.so
*.dylib
*.dll
*.exe
*.o
*.obj
*_m.cc
*_m.h
*.tab.hh
*.tab.cc
*.bak
*.pdb
*.idb
*.manifest
lex.*yy.cc
/config.log
/config.status
autom4te.cache/
/bin/*
out/
/lib/
/Makefile.inc
/makeui
/mingwenv.cmd
/src/common/ver.h
/src/utils/opp_configfilepath
/src/envir/eventlogwriter.cc
/src/envir/eventlogwriter.h
/src/eventlog/eventlogentries.cc
/src/eventlog/eventlogentries.csv
/src/eventlog/eventlogentries.h
/src/eventlog/eventlogentryfactory.cc
/src/guienv/registernatives.cc
/src/guienv/simkernel_wrap.cxx
/src/tkenv/tclcode.cc
/src/utils/opp_configfilepath.cmd
/ui/.metadata
/ui/org.omnetpp.runtime.nativelibs/src/org/omnetpp/runtime/nativelibs/simkernel/
/ui/org.omnetpp.ide.nativelibs/*.cxx
/ui/org.omnetpp.ide.nativelibs/src/org/omnetpp/*
/ui/org.omnetpp.ned.model/src/org/omnetpp/ned/model/pojo/*
/samples/*/Makefile
/samples/*/Makefile.vc
/samples/aloha/aloha
/samples/cqn/cqn
/samples/dyna/dyna
/samples/embedding/embedding
/samples/embedding2/embedding2
/samples/fifo/fifo
/samples/histograms/histograms
/samples/hypercube/hypercube
/samples/neddemo/neddemo
/samples/queueinglib/queueinglib.lib
/samples/routing/routing
/samples/sockets/sockets
/samples/tictoc/tictoc
/samples/rundemo.bat
