<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="vectorfileindexer"
         name="OMNet++ Scave Builders"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="org.omnetpp.scave.builder.VectorFileIndexBuilder"/>
      </builder>
   </extension>
   <extension
         id="scaveproblem"
         name="Result File Problem"
         point="org.eclipse.core.resources.markers">
      <persistent value="false"/> 
      <super type="org.eclipse.core.resources.problemmarker"/> 
   </extension>
</plugin>
