<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="OMNeT++ Sequence Chart"
            extensions="log"
            icon="icons/full/eobj16/sequencechart.png"
            contributorClass="org.omnetpp.sequencechart.editors.SequenceChartContributor"
            class="org.omnetpp.sequencechart.editors.SequenceChartEditor"
            id="org.omnetpp.sequencechart.editors.SequenceChartEditor"
            default="true">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Sequence Chart"
            icon="icons/full/eview16/sequencechart.png"
            category="org.omnetpp.views"
            class="org.omnetpp.sequencechart.editors.SequenceChartView"
            id="org.omnetpp.sequencechart.editors.SequenceChartView">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               relationship="bottom"
               id="org.omnetpp.sequencechart.editors.SequenceChartView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
