<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="OMNeT++ Sequence Chart"
            extensions="elog"
            icon="icons/full/eobj16/sequencechart.png"
            contributorClass="org.omnetpp.sequencechart.editors.SequenceChartContributor"
            class="org.omnetpp.sequencechart.editors.SequenceChartEditor"
            id="org.omnetpp.sequencechart.editors.SequenceChartEditor"
            default="true">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Sequence Chart"
            icon="icons/full/eview16/sequencechart.png"
            category="org.omnetpp.views"
            class="org.omnetpp.sequencechart.editors.SequenceChartView"
            id="org.omnetpp.sequencechart.editors.SequenceChartView">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               relationship="bottom"
               id="org.omnetpp.sequencechart.editors.SequenceChartView">
         </view>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.omnetpp.sequencechart.editors.SequenceChartContributor$FindTextHandler"
            id="org.omnetpp.sequencechart.findText"
            name="Find...">
      </command>
      <command
            defaultHandler="org.omnetpp.sequencechart.editors.SequenceChartContributor$FindNextHandler"
            id="org.omnetpp.sequencechart.findNext"
            name="Find Next">
      </command>
      <command
            defaultHandler="org.omnetpp.sequencechart.editors.SequenceChartContributor$RefreshHandler"
            id="org.omnetpp.sequencechart.refresh"
            name="Refresh">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.omnetpp.sequencechart.findText"
            contextId="org.omnetpp.context.SequenceChart"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+F">
      </key>
      <key
            commandId="org.omnetpp.sequencechart.findNext"
            contextId="org.omnetpp.context.SequenceChart"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+K">
      </key>
      <key
            commandId="org.omnetpp.sequencechart.refresh"
            contextId="org.omnetpp.context.SequenceChart"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F5">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="OMNeT++ Eventlog Table"
            id="org.omnetpp.context.SequenceChart"
            name="SequenceChartContext"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

</plugin>
