<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.omnetpp.simulation.inspectors">
      <inspectorType
            class="org.omnetpp.simulation.inet.inspectors.InetDummyInspectorPart$Type"
            id="org.omnetpp.simulation.inet.inspectors.InetDummy"
            name="Dummy INET Inspector">
      </inspectorType>
   </extension>

</plugin>
