<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="OMNeT++/OMNEST Sequence Chart Tool"
            extensions="log"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.omnetpp.experimental.seqchart.editors.SequenceChartToolEditor"
            id="org.omnetpp.experimental.seqchart.editors.SequenceChartToolEditor">
      </editor>
   </extension>

</plugin>
