<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.omnetpp.main.OmnetppCategory"
            class="org.omnetpp.cdt.ui.BuildSpecPropertyPage"
            id="org.omnetpp.cdt.BuildSpec"
            name="C++ Makefile Generation">
         <enabledWhen>
             <adapt type="org.eclipse.core.resources.IProject">
               <and>
                  <test property="org.eclipse.core.resources.projectNature" value="org.omnetpp.main.omnetppnature"/>
                  <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.ccnature"/>
               </and>
             </adapt>         
         </enabledWhen>
      </page>
   </extension>
   <extension
         id="MakefileBuilder"
         name="OMNeT++ Makefile Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false">
         <run
               class="org.omnetpp.cdt.makefile.MakefileBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="makefileproblem"
         name="Makefile Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
            id="cdt.managedbuild.target.gnu.exe"
            isAbstract="false"
            isTest="false"
            projectMacroSupplier="org.omnetpp.cdt.OmnetProjectMacroSupplier">
      </projectType>     
      
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.sharedLib"
            id="cdt.managedbuild.target.gnu.so"
            isAbstract="false"
            isTest="false"
            projectMacroSupplier="org.omnetpp.cdt.OmnetProjectMacroSupplier">
      </projectType>
          
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.staticLib"
            id="cdt.managedbuild.target.gnu.lib"
            isAbstract="false"
            isTest="false"
            projectMacroSupplier="org.omnetpp.cdt.OmnetProjectMacroSupplier">                        
      </projectType>
      
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
            id="cdt.managedbuild.target.gnu.cygwin.exe"
            isAbstract="false"
            isTest="false"
            projectMacroSupplier="org.omnetpp.cdt.OmnetProjectMacroSupplier">                                  
      </projectType>              
         
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.sharedLib"
            id="cdt.managedbuild.target.gnu.cygwin.so"
            isAbstract="false"
            isTest="false"
            projectMacroSupplier="org.omnetpp.cdt.OmnetProjectMacroSupplier">            
      </projectType>
                       
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.staticLib"
            id="cdt.managedbuild.target.gnu.cygwin.lib"
            isAbstract="false"
            isTest="false"
            projectMacroSupplier="org.omnetpp.cdt.OmnetProjectMacroSupplier">            
      </projectType>

      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
            id="cdt.managedbuild.target.gnu.mingw.exe"
            isAbstract="false"
            isTest="false"
            projectMacroSupplier="org.omnetpp.cdt.OmnetProjectMacroSupplier">                                  
      </projectType>              
         
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.sharedLib"
            id="cdt.managedbuild.target.gnu.mingw.so"
            isAbstract="false"
            isTest="false"
            projectMacroSupplier="org.omnetpp.cdt.OmnetProjectMacroSupplier">            
      </projectType>
                       
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.staticLib"
            id="cdt.managedbuild.target.gnu.mingw.lib"
            isAbstract="false"
            isTest="false"
            projectMacroSupplier="org.omnetpp.cdt.OmnetProjectMacroSupplier">            
      </projectType>

      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
            id="cdt.managedbuild.target.macosx.exe"
            isAbstract="false"
            isTest="false"
            projectMacroSupplier="org.omnetpp.cdt.OmnetProjectMacroSupplier">
       </projectType>      
            
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.sharedLib"
            id="cdt.managedbuild.target.macosx.so"
            isAbstract="false"
            isTest="false"
            projectMacroSupplier="org.omnetpp.cdt.OmnetProjectMacroSupplier">            
      </projectType>
      
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.staticLib"
            id="cdt.managedbuild.target.macosx.lib"
            isAbstract="false"
            isTest="false"
            projectMacroSupplier="org.omnetpp.cdt.OmnetProjectMacroSupplier">
      </projectType>      
   </extension>

</plugin>
