<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.cdt.managedbuilder.ui.properties.Page_head_build"
            class="org.omnetpp.cdt.ui.OmnetppCDTFolderPropertyPage"
            id="org.omnetpp.cdt.BuildSpec"
            name="OMNEST/OMNeT++">
         <enabledWhen>
             <adapt type="org.eclipse.core.resources.IContainer">
               <and>
                  <test property="org.eclipse.core.resources.projectNature" value="org.omnetpp.main.omnetppnature"/>
                  <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.ccnature"/>
               </and>
             </adapt>         
         </enabledWhen>
      </page>
   </extension>
   <extension
         id="MakefileBuilder"
         name="OMNeT++ Makefile Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false">
         <run
               class="org.omnetpp.cdt.makefile.MakefileBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="makefileproblem"
         name="Makefile Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
      <projectType
            id="org.omnetpp.cdt.omnetppProjectType"
            name="OMNEST/OMNeT++ Project"
            projectMacroSupplier="org.omnetpp.cdt.OmnetProjectMacroSupplier">
         <configuration
               id="org.omnetpp.cdt.msvc.configuration.release"
               name="Release"
               parent="org.eclipse.cdt.msvc.configuration">
            <toolChain
                  id="org.omnetpp.cdt.msvc.toolchain.release"
                  superClass="org.eclipse.cdt.msvc.toolchain.base">
            </toolChain>
         </configuration>
      </projectType>
      <toolChain
            id="org.omnetpp.cdt.msvc.toolchain.base"
            isAbstract="true"
            superClass="org.eclipse.cdt.msvc.toolchain.base">
      </toolChain>      
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.omnetpp.wizards"
            class="org.omnetpp.cdt.tmp.NewOmnetppCCProjectWizard"
            id="org.omnetpp.cdt.wizard.newProjectWizard"
            name="OMNEST/OMNeT++ Project TEST"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.omnetpp.wizards"
            class="org.omnetpp.cdt.wizard.OmnetppCCProjectWizard"
            icon="icons/full/obj16/newoproject.gif"
            id="org.omnetpp.cdt.wizard.omnetppCCProjectWizard"
            name="OMNEST/OMNeT++ Project for C++ Development"
            project="true">
         <description>
            Create a Project that can handle OMNEST/OMNeT++ specific files and supports C++ development using CDT.
         </description>
      </wizard>
   </extension>
   <extension point="org.eclipse.cdt.core.templates">
      <template
            id="org.omnetpp.cdt.templates.EmptyManaged"
            filterPattern=".*"
            location="templates/managed/empty/template.xml"
            projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
      </template>
      <template
            id="org.omnetpp.cdt.templates.EmptyMake"
            filterPattern=".*"
            location="templates/make/empty/template.xml"
            projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
      </template>
   </extension>

</plugin>
