<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.omnetpp.cdt.ui.CPlusPlusSourceFoldersPropertyPage"
            id="org.omnetpp.cdt.CPlusPlusSourceFolders"
            name="C++ Source Folders (OMNEST/OMNeT++)">
         <enabledWhen>
             <adapt type="org.eclipse.core.resources.IProject">
               <and>
                  <test property="org.eclipse.core.resources.projectNature" value="org.omnetpp.main.omnetppnature"/>
                  <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.ccnature"/>
               </and>
             </adapt>         
         </enabledWhen>
      </page>
   </extension>
   <extension
         id="MakefileBuilder"
         name="OMNeT++ Makefile Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false">
         <run
               class="org.omnetpp.cdt.makefile.MakefileBuilder">
         </run>
      </builder>
   </extension>

</plugin>
