/**
 * Model engine class $model.Name
 */
class ${modelTool.ClassName}
{
    public:
        enum EEvent
        {
#foreach ($event in $modelTool.Events)
            $modelTool.getEventConst($event),
#end
            ANY_OTHER
        };

        /**
         * Returns name of the given event
         */
        const char *eventName(EEvent anEvent) const;
};
