void $smTool.ClassName::enterState($smTool.ClassName::EState aState, $contextClass& aContext)
{
    switch (aState)
    {
#foreach($state in $smTool.States)
        case ${smTool.getStateTool($state).Const}:
#executeActions($state.OnEnterActions 12)
            break;
#end
    }
}
