const char *${modelTool.ClassName}::eventName(${modelTool.ClassName}::EEvent anEvent) const
{
    switch (anEvent)
    {
#foreach ($event in $modelTool.Events)
        case ${modelTool.getEventConst($event)}: return "${event.Name}";
#end
        default: return "*";
    }
}
