$smTool.ClassName::EState $smTool.ClassName::getSuperstate($smTool.ClassName::EState aState) const
{
    switch (aState)
    {
#foreach($state in $smTool.States)
#if(! $state.Top)
        case $smTool.getStateTool($state).Const: return $smTool.getStateTool($state.Superstate).Const;
#end
#end
        default: return UNKNOWN_STATE; // for top and nonexisting states
    }
}
