void $smTool.ClassName::invokeSubmachines($modelTool.ClassName::EEvent aEvent, $contextClass& aContext)
{
#set ($top = $smTool.getStateTool($sm.Top).Const)
    for (EState curState = iState; curState != $top; curState = getSuperstate(curState))
    {
        switch (curState)
        {
#foreach ($state in $smTool.States)
            case ${smTool.getStateTool($state).Const}:
#foreach($submachine in $state.Submachines)
                iModel.${modelTool.getInstanceName($submachine)}->handle(aEvent, aContext);
#end
                break;
#end
        }
    }
}
