bool $smTool.ClassName::isStable($smTool.ClassName::EState aState) const
{
    return
#foreach($state in $smTool.StableStates)
        aState == $smTool.ClassName::EState::$smTool.getStateTool($state).Const ||
#end
        false;
}
