/*
 * For stable state immediately returns. For unstable state transits
 * to corresponding stable invoking all actions on transitions.
 */
$smTool.ClassName::EState $smTool.ClassName::transitToStable($smTool.ClassName::EState aState, $contextClass& aContext)
{
    EState newState = aState;
    while (!isStable(newState))
    {
        switch (newState)
        {
#foreach($state in $smTool.CompositeStates)
            case ${smTool.getStateTool($state).Const}:
#transit($state.InitialSubstate.OutgoingTransitions.get(0) "newState" 16)
                break;
#end
            default: ;// Impossible case
        }
    }
    return newState;
}
