<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="OMNeT++/OMNEST Event Log Table"
            extensions="log"
            icon="icons/eventlog.png"
            contributorClass="org.omnetpp.eventlogtable.editors.EventLogTableContributor"
            class="org.omnetpp.eventlogtable.editors.EventLogTableEditor"
            id="org.omnetpp.eventlogtable.editors.EventLogTableEditor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Event Log"
            icon="icons/eventlog.png"
            category="org.omnetpp.views"
            class="org.omnetpp.eventlogtable.editors.EventLogTableView"
            id="org.omnetpp.eventlogtable.editors.EventLogTableView">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               relationship="bottom"
               id="org.omnetpp.eventlogtable.editors.EventLogTableView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
