<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="OMNeT++ Event Log Table"
            extensions="log"
            icon="icons/eventlog.png"
            contributorClass="org.omnetpp.eventlogtable.editors.EventLogTableContributor"
            class="org.omnetpp.eventlogtable.editors.EventLogTableEditor"
            id="org.omnetpp.eventlogtable.editors.EventLogTableEditor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Event Log"
            icon="icons/eventlog.png"
            category="org.omnetpp.views"
            class="org.omnetpp.eventlogtable.editors.EventLogTableView"
            id="org.omnetpp.eventlogtable.editors.EventLogTableView">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               relationship="bottom"
               id="org.omnetpp.eventlogtable.editors.EventLogTableView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.omnetpp.eventlogtable.editors.EventLogTableContributor$FindTextHandler"
            id="org.omnetpp.eventlogtable.findText"
            name="Find Text">
      </command>
      <command
            defaultHandler="org.omnetpp.eventlogtable.editors.EventLogTableContributor$FindNextHandler"
            id="org.omnetpp.eventlogtable.findNext"
            name="Find Next">
      </command>
      <command
            defaultHandler="org.omnetpp.eventlogtable.editors.EventLogTableContributor$RefreshHandler"
            id="org.omnetpp.eventlogtable.refresh"
            name="Refresh">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.omnetpp.eventlogtable.findText"
            contextId="org.omnetpp.context.EventLogTable"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+F">
      </key>
      <key
            commandId="org.omnetpp.eventlogtable.findNext"
            contextId="org.omnetpp.context.EventLogTable"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+K">
      </key>
      <key
            commandId="org.omnetpp.eventlogtable.refresh"
            contextId="org.omnetpp.context.EventLogTable"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F5">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="OMNeT++ Eventlog Table"
            id="org.omnetpp.context.EventLogTable"
            name="EventLogTableContext"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

</plugin>
