<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="OMNeT++"
            id="org.omnetpp.wizards">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
     <category
           id="org.omnetpp.exportWizards"
           name="OMNeT++">
     </category>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.omnetpp.views"
            name="OMNeT++"/>
   </extension>

   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.omnetpp.common.decorators.ProblemDecorator"
            id="org.omnetpp.common.decorators.ProblemDecorator"
            label="Problem Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IResource"/>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.omnetpp.common.ConfigurationPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
