<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="OMNeT++"
            id="org.omnetpp.wizards">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
     <category
           id="org.omnetpp.exportWizards"
           name="OMNeT++">
     </category>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.omnetpp.views"
            name="OMNeT++"/>
   </extension>

   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.omnetpp.common.decorators.ProblemDecorator"
            id="org.omnetpp.common.decorators.ProblemDecorator"
            label="Problem Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IResource"/>
         </enablement>
      </decorator>
   </extension>
   <extension
         name="Image Exporter Extension"
         point="de.unikassel.imageexport.imageExporters">
      <imageExporter
            class="org.omnetpp.common.image.export.PNGImageExporter"
            description="PNG - Portable Network Graphics"
            extension="png"
            id="org.omnetpp.common.pngImageExporter"
            name="PNG Image Exporter">
      </imageExporter>
   </extension>
</plugin>
