<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="OMNeT++ Analysis"
            extensions="anf"
            icon="icons/scavefile.png"
            contributorClass="org.omnetpp.scave.editors.ScaveEditorContributor"
            class="org.omnetpp.scave.editors.ScaveEditor"
            id="org.omnetpp.scave.editors.ScaveEditor">
      </editor>
      <editor
            default="true"
            extensions="vci"
            icon="icons/vcifile.png"
            id="org.omnetpp.scave.editors.ResultFileOpener.vci"
            launcher="org.omnetpp.scave.editors.ResultFileEditorLauncher"
            name="New Analysis"/>
      <editor
            default="true"
            extensions="sca"
            icon="icons/scafile.png"
            id="org.omnetpp.scave.editors.ResultFileOpener.sca"
            launcher="org.omnetpp.scave.editors.ResultFileEditorLauncher"
            name="New Analysis"/>
      <editor
            default="true"
            extensions="vec"
            icon="icons/vecfile.png"
            id="org.omnetpp.scave.editors.ResultFileOpener.vec"
            launcher="org.omnetpp.scave.editors.ResultFileEditorLauncher"
            name="New Analysis"/>
   </extension>
   
   <extension
         id="org.omnetpp.scave.content-types"
         name="Scave content types"
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-extensions="sca"
            id="org.omnetpp.scave.content-type.scalar"
            name="Scalar result file"
            priority="normal"/>
      <content-type
            file-extensions="vec"
            id="org.omnetpp.scave.content-type.vector"
            name="Vector result file"
            priority="normal"/>
      <content-type
            file-extensions="vci"
            id="org.omnetpp.scave.content-type.index"
            name="Vector index file"
            priority="normal"/>
   </extension>

  <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           category="org.omnetpp.wizards"
           class="org.omnetpp.scave.wizard.ScaveModelWizard"
           icon="icons/newscavefile.png"
           id="org.omnetpp.scave.wizard.ScaveModelModelWizardID"
           name="Analysis File (anf)">
        <description>
           Create a new Analysis file that describes how charts and plottings should be created from recorded data.
        </description>
     </wizard>
  </extension>
  <extension
         point="org.eclipse.ui.navigator.navigatorContent">
           <commonWizard 
                 menuGroupId="org.eclipse.cdt.ui" 
                 type="new" 
                 wizardId="org.omnetpp.scave.wizard.ScaveModelModelWizardID">
                 <enablement>
                 	<and>
			               <adapt
			                     type="org.eclipse.core.resources.IResource">
			                 <test
			                     property="org.eclipse.core.resources.projectNature"
			                     value="org.omnetpp.main.omnetppnature">
			                 </test>
			               </adapt>
                  			<not>
                     			<instanceof value="org.eclipse.core.resources.IFile">
                     			</instanceof>
                  			</not>
	             	</and>
                 </enablement>
           </commonWizard>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <view
           category="org.omnetpp.views"
           class="org.omnetpp.scave.views.VectorBrowserView"
           icon="icons/full/eview16/outvector.png"
           id="org.omnetpp.scave.VectorBrowserView"
           name="Output Vector"/>
     <view
           category="org.omnetpp.views"
           class="org.omnetpp.scave.views.DatasetView"
           icon="icons/full/eview16/dataset.gif"
           id="org.omnetpp.scave.DatasetView"
           name="Dataset"/>
  </extension>
  <extension
        id="product"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.eclipse.ui.ide.workbench"
           name="%productName">
        <property
              name="preferenceCustomization"
              value="plugin_customization.ini"/>
        <property
              name="windowImages"
              value="eclipse.gif,eclipse32.gif,eclipse48.gif,eclipse.png,eclipse32.png"/>
        <property
              name="aboutText"
              value="%productBlurb"/>
        <property
              name="aboutImage"
              value="eclipse_lg.gif"/>
        <property
              name="startupForegroundColor"
              value="C8D5EA"/>
        <property
              name="startupProgressRect"
              value="0,280,455,15"/>
        <property
              name="startupMessageRect"
              value="7,220,441,20"/>
        <property
              name="appName"
              value="%productName">
        </property>
     </product>
  </extension>
  <extension
        id="recourcefilter"
        name="Scave Resource Filter"
        point="org.eclipse.ui.ide.resourceFilters">
     <filter
           pattern="*.vci"
           selected="false"/>
  </extension>

</plugin>
