<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="nedbuilder"
         name="OMNeT++ NED Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.omnetpp.resources.builder.NEDBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="nednature"
         name="OMNeT++ NED Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.omnetpp.resources.builder.NEDNature">
         </run>
      </runtime>
      <builder
            id="org.omnetpp.resources.nedbuilder">
      </builder>
   </extension>
   <extension
         id="nedconsistencyproblem"
         name="NED consistency problem"
         point="org.eclipse.core.resources.markers">
      <persistent value="true"/> 
      <super type="org.eclipse.core.resources.problemmarker"/> 
   </extension>
   <extension
         id="nedproblem"
         name="NED Problem"
         point="org.eclipse.core.resources.markers">
      <persistent value="true"/> 
      <super type="org.eclipse.core.resources.problemmarker"/> 
   </extension>
</plugin>
