<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.omnetpp.inifile.editor.editors.InifileEditor"
            contributorClass="org.omnetpp.inifile.editor.editors.InifileEditorContributor"
            default="true"
            extensions="ini"
            icon="icons/inifile.png"
            id="org.omnetpp.inifile.editor.editors.InifileEditor"
            name="OMNEST/OMNeT++ Ini File Editor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="Initialization File (ini)"
            icon="icons/inifile.png"
            category="org.omnetpp.wizards"
            class="org.omnetpp.inifile.editor.wizards.NewInifileWizard"
            id="org.omnetpp.inifile.editor.wizards.NewInifileWizard">
         
         <description>
            Create a file that contains simulation initalization parameters.
         </description>
      </wizard>
   </extension>

   <extension
         id="IniDocumentSetupParticipant"
         name="Ini Document Setup Participant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="ini"
            class="org.omnetpp.inifile.editor.text.InifileDocumentSetupParticipant">
      </participant>
   </extension>

  <extension id="inifileproblem" point="org.eclipse.core.resources.markers" name="Inifile Problem">
    <!-- Note: the "problemmarker" super class makes it appear in the Navigator and in the Problems view -->
	<super type="org.eclipse.core.resources.problemmarker"/> 
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="false"/>
  </extension>

  <extension
        point="org.eclipse.ui.views">
     <view
           category="org.omnetpp.views"
           class="org.omnetpp.inifile.editor.views.ModuleTreeView"
           icon="icons/moduletreeview.png"
           id="org.omnetpp.inifile.ModuleTree"
           name="Module Tree"/>
  </extension>

  <extension
        point="org.eclipse.ui.views">
     <view
           category="org.omnetpp.views"
           class="org.omnetpp.inifile.editor.views.UnsetParametersView"
           icon="icons/unsetparameters.gif"
           id="org.omnetpp.inifile.UnsetParameters"
           name="Unset Parameters"/>
  </extension>

</plugin>
