<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.omnetpp.inifile.editor.editors.InifileEditor"
            contributorClass="org.omnetpp.inifile.editor.editors.InifileEditorContributor"
            default="true"
            extensions="ini"
            icon="icons/inifile.gif"
            id="org.omnetpp.inifile.editor.editors.InifileEditor"
            name="OMNEST/OMNeT++ Ini File Editor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="Initialization File (ini)"
            icon="icons/inifile.gif"
            category="org.omnetpp.wizards"
            class="org.omnetpp.inifile.editor.wizards.NewInifileWizard"
            id="org.omnetpp.inifile.editor.wizards.NewInifileWizard">
         
         <description>
            Create a file that contains simulation initalization parameters.
         </description>
      </wizard>
   </extension>

   <extension
         id="IniDocumentSetupParticipant"
         name="Ini Document Setup Participant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="ini"
            class="org.omnetpp.inifile.editor.text.InifileDocumentSetupParticipant">
      </participant>
   </extension>

</plugin>
