<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Neddoc Category"
            id="org.omnetpp.neddoc.commands.category">
      </category>
      <command
            name="Generate neddoc"
            categoryId="org.omnetpp.neddoc.commands.category"
            id="org.omnetpp.neddoc.commands.neddocCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.omnetpp.neddoc.commands.neddocCommand"
            class="org.omnetpp.neddoc.GenerateNeddocHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.omnetpp.neddoc.commands.neddocCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.omnetpp.neddoc.toolbars.neddocToolbar">
            <command
                  commandId="org.omnetpp.neddoc.commands.neddocCommand"
                 icon="icons/full/etool16/neddoc.gif"
                  tooltip="Generate neddoc"
                  id="org.omnetpp.neddoc.toolbars.neddocCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.omnetpp.neddoc.generateNeddoc"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.omnetpp.neddoc.GenerateNeddocAction"
               enablesFor="+"
               id="org.omnetpp.ide.generateNeddoc"
               label="Generate neddoc"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
</plugin>
