<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="NED file"
            icon="icons/sample.gif"
            category="org.omnetpp.wizards"
            class="org.omnetpp.ned.editor.graph.wizards.NewNEDFileWizard"
            id="org.omnetpp.ned.editor.graph.wizard.new.file">
         <description>
            Create a new module in the NED file
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.ned"
            id="org.omnetpp.ned.editor.graph">
         <action
               label="Print"
               class="org.omnetpp.ned.editor.graph.actions.ModulePrintAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.omnetpp.ned.editor.graph.actions.print">
         </action>
      </objectContribution>
   </extension>

</plugin>
