<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="content/toc.xml"
            primary="true">
      </toc>
      <toc
            file="content/manual/toc.xml"
            primary="false">
      </toc>
      <toc
            file="content/guides/toc.xml"
            primary="false">
      </toc>
   </extension>

   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overview.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/whatsnew.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/tutorials.xml">
      </configExtension>
   </extension>

   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.omnetpp.main.product">
      </introProductBinding>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
     <menuContribution
            locationURI="menu:help?after=additions">
         <command
               commandId="org.omnetpp.common.openWebBrowser"
               id="openSamplesHtml"
               label="Help on the OMNeT++ Sample Simulations..."
               style="push">
            <parameter
                  name="path"
                  value="/content/samples/samples.html">
            </parameter>
            <parameter
                  name="pluginId"
                  value="org.omnetpp.doc">
            </parameter>
         </command>
      </menuContribution>
   </extension>

</plugin>
