<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.omnetpp.scave.autoimport.ScaveStartup">
      </startup>
   </extension>
  <extension
         point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               relative="org.eclipse.ui.views.TaskList">
         </view>
     </perspectiveExtension>
  </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.omnetpp.scave.autoimport.ScavePerspectiveFactory"
            icon="icons/logo16.png"
            id="org.omnetpp.scave.ScavePerspective"
            name="Analysis"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="org.omnetpp.scave.ScavePerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.omnetpp.scave.ScavePerspective">
         <perspectiveShortcut
               id="org.eclipse.ui.resourcePerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
