<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="inspectors" name="Inspectors" schema="schema/org.omnetpp.simulation.inspectors.exsd"/>
   <extension-point id="essentialsProviders" name="Essentials Providers" schema="schema/org.omnetpp.simulation.essentialsProviders.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.omnetpp.simulation.SimulationPerspectiveFactory"
            icon="icons/misc/perspective.png"
            id="org.omnetpp.simulation.SimulationPerspective"
            name="Simulate"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.omnetpp.simulation.editors.SimulationEditor"
            contributorClass="org.omnetpp.simulation.editors.SimulationEditorContributor"
            icon="icons/misc/editor.png"
            id="org.omnetpp.simulation.editors.SimulationEditor"
            name="Simulation">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.omnetpp.views"
            class="org.omnetpp.simulation.views.ObjectTreeView"
            icon="icons/eview16/objecttree.png"
            id="org.omnetpp.simulation.views.ObjectTreeView"
            name="Simulation Object Tree">
      </view>
      <view
            allowMultiple="false"
            category="org.omnetpp.views"
            class="org.omnetpp.simulation.views.ModuleOutputView"
            icon="icons/eview16/moduleoutput.png"
            id="org.omnetpp.simulation.views.ModuleOutputView"
            name="Module Output">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="org.omnetpp.simulation.actions.AttachToSimulationHandler"
            id="org.omnetpp.simulation.commands.AttachToSimulationCommand"
            name="Attach to Simulation...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.run?after=breakpointGroup">
         <command
               commandId="org.omnetpp.simulation.commands.AttachToSimulationCommand"
               icon="icons/etool16/attach.png"
               id="AttachToSimulation">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.omnetpp.simulation.editorContribution"
            targetID="org.omnetpp.simulation.editors.SimulationEditor">
         <action
               id="org.omnetpp.simulation.LinkWithSimulationAction"
               class="org.omnetpp.simulation.actions.LinkWithSimulationAction"
               definitionId="org.omnetpp.simulation.LinkWithSimulationCommand"
               icon="icons/etool16/link.png"
               label="Kill simulation on editor close"
               tooltip="Kill simulation on editor close"
               style="toggle">
         </action>

         <action
               id="org.omnetpp.simulation.ProcessInfoAction"
               class="org.omnetpp.simulation.actions.ProcessInfoAction"
               definitionId="org.omnetpp.simulation.ProcessInfoCommand"
               icon="icons/etool16/processinfo.png"
               label="Process Info"
               tooltip="Process Info"
               style="push">
         </action>

         <action
               id="org.omnetpp.simulation.RefreshAction"
               class="org.omnetpp.simulation.actions.RefreshAction"
               definitionId="org.omnetpp.simulation.RefreshCommand"
               icon="icons/etool16/refresh.png"
               label="Refresh"
               tooltip="Refresh"
               style="push">
         </action>

         <action
               id="org.omnetpp.simulation.SetupIniConfigAction"
               class="org.omnetpp.simulation.actions.SetupIniConfigAction"
               definitionId="org.omnetpp.simulation.SetupIniConfigCommand"
               icon="icons/etool16/newrun.png"
               label="Set Up..."
               tooltip="Set Up..."
               style="push">
         </action>

         <action
               id="org.omnetpp.simulation.SetupNetworkAction"
               class="org.omnetpp.simulation.actions.SetupNetworkAction"
               definitionId="org.omnetpp.simulation.SetupNetworkCommand"
               icon="icons/etool16/newnet.png"
               label="Set Up Network..."
               tooltip="Set Up Network..."
               style="push">
         </action>

         <action
               id="org.omnetpp.simulation.RebuildNetworkAction"
               class="org.omnetpp.simulation.actions.RebuildNetworkAction"
               definitionId="org.omnetpp.simulation.RebuildNetworkCommand"
               icon="icons/etool16/restart.png"
               label="Rebuild Network"
               tooltip="Rebuild Network"
               style="push">
         </action>

         <action
               id="org.omnetpp.simulation.StepAction"
               class="org.omnetpp.simulation.actions.StepAction"
               definitionId="org.omnetpp.simulation.StepCommand"
               icon="icons/etool16/step.png"
               label="Step"
               tooltip="Step"
               style="toggle">
         </action>

         <action
               id="org.omnetpp.simulation.RunAction"
               class="org.omnetpp.simulation.actions.RunAction"
               definitionId="org.omnetpp.simulation.RunCommand"
               icon="icons/etool16/run.png"
               label="Run"
               tooltip="Run"
               style="toggle">
         </action>

         <action
               id="org.omnetpp.simulation.FastRunAction"
               class="org.omnetpp.simulation.actions.FastRunAction"
               definitionId="org.omnetpp.simulation.FastRunCommand"
               icon="icons/etool16/fast.png"
               label="Fast Run"
               tooltip="Fast Run"
               style="toggle">
         </action>

         <action
               id="org.omnetpp.simulation.ExpressRunAction"
               class="org.omnetpp.simulation.actions.ExpressRunAction"
               definitionId="org.omnetpp.simulation.ExpressRunCommand"
               icon="icons/etool16/express.png"
               label="Express Run"
               tooltip="Express Run"
               style="toggle">
         </action>

         <action
               id="org.omnetpp.simulation.RunUntilAction"
               class="org.omnetpp.simulation.actions.RunUntilAction"
               definitionId="org.omnetpp.simulation.RunUntilCommand"
               icon="icons/etool16/until.png"
               label="Run Until..."
               tooltip="Run Until..."
               style="toggle">
         </action>

         <action
               id="org.omnetpp.simulation.StopAction"
               class="org.omnetpp.simulation.actions.StopAction"
               definitionId="org.omnetpp.simulation.StopCommand"
               icon="icons/etool16/stop.png"
               label="Stop"
               tooltip="Stop"
               style="push">
         </action>

         <action
               id="org.omnetpp.simulation.CallFinishAction"
               class="org.omnetpp.simulation.actions.CallFinishAction"
               definitionId="org.omnetpp.simulation.CallFinishCommand"
               icon="icons/etool16/finish.png"
               label="Finalize"
               tooltip="Invokes the finish() method on all components in the simulation"
               style="push">
         </action>
      </editorContribution>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.omnetpp.category.simulation"
            name="Simulation"
            description="OMNeT++ Simulation Execution">
      </category>
      <command
            id="org.omnetpp.simulation.LinkWithSimulationCommand"
            categoryId="org.omnetpp.category.simulation"
            name="Link with Simulation"
            description="Choose whether to kill simulation on editor close or leave it running">
      </command>
      <command
            id="org.omnetpp.simulation.ProcessInfoCommand"
            categoryId="org.omnetpp.category.simulation"
            name="Process Info"
            description="Displays information about the simulation process">
      </command>
      <command
            id="org.omnetpp.simulation.RefreshCommand"
            categoryId="org.omnetpp.category.simulation"
            name="Refresh"
            description="Refreshes simulation state">
      </command>
      <command
            id="org.omnetpp.simulation.SetupIniConfigCommand"
            categoryId="org.omnetpp.category.simulation"
            name="Set Up..."
            description="Sets up an ini file configuration">
      </command>
      <command
            id="org.omnetpp.simulation.SetupNetworkCommand"
            categoryId="org.omnetpp.category.simulation"
            name="Set Up Network..."
            description="Sets up a network defined in NED">
      </command>
      <command
            id="org.omnetpp.simulation.RebuildNetworkCommand"
            categoryId="org.omnetpp.category.simulation"
            name="Rebuild Network"
            description="Restarts the current simulation">
      </command>
      <command
            id="org.omnetpp.simulation.StepCommand"
            categoryId="org.omnetpp.category.simulation"
            name="Step"
            description="Execute one simulation event">
      </command>
      <command
            id="org.omnetpp.simulation.RunCommand"
            categoryId="org.omnetpp.category.simulation"
            name="Run"
            description="Run the simulation with animation">
      </command>
      <command
            id="org.omnetpp.simulation.FastRunCommand"
            categoryId="org.omnetpp.category.simulation"
            name="Fast Run"
            description="Run the simulation without animation">
      </command>
      <command
            id="org.omnetpp.simulation.ExpressRunCommand"
            categoryId="org.omnetpp.category.simulation"
            name="Express Run"
            description="Run the simulation at full speed">
      </command>
      <command
            id="org.omnetpp.simulation.RunUntilCommand"
            categoryId="org.omnetpp.category.simulation"
            name="Run Until..."
            description="Run simulation until a simulation time or event number is reached">
      </command>
      <command
            id="org.omnetpp.simulation.StopCommand"
            categoryId="org.omnetpp.category.simulation"
            name="Stop"
            description="Pause the simulation">
      </command>
      <command
            id="org.omnetpp.simulation.CallFinishCommand"
            categoryId="org.omnetpp.category.simulation"
            name="Finalize"
            description="Conclude the simulation by invoking the finish() method on modules and channels">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="OMNeT++ Simulation Execution"
            id="org.omnetpp.context.simulation"
            name="Running a Simulation"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.omnetpp.simulation.RefreshCommand"
            contextId="org.omnetpp.context.simulation"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+F5">
      </key>
      <key
            commandId="org.omnetpp.simulation.StepCommand"
            contextId="org.omnetpp.context.simulation"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F4">
      </key>
      <key
            commandId="org.omnetpp.simulation.RunCommand"
            contextId="org.omnetpp.context.simulation"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F5">
      </key>
      <key
            commandId="org.omnetpp.simulation.FastRunCommand"
            contextId="org.omnetpp.context.simulation"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F6">
      </key>
      <key
            commandId="org.omnetpp.simulation.ExpressRunCommand"
            contextId="org.omnetpp.context.simulation"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F7">
      </key>
      <key
            commandId="org.omnetpp.simulation.RunUntilCommand"
            contextId="org.omnetpp.context.simulation"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+F5">
      </key>
      <key
            commandId="org.omnetpp.simulation.StopCommand"
            contextId="org.omnetpp.context.simulation"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F8">
      </key>
   </extension>
   <extension
         point="org.omnetpp.simulation.inspectors">
      <inspectorType
            class="org.omnetpp.simulation.inspectors.BuiltinInspectorTypes$Queue"
            description="Queue inspector"
            icon="icons/obj16/queue.png"
            id="org.omnetpp.simulation.inspectors.Queue"
            name="Queue">
      </inspectorType>
      <inspectorType
            class="org.omnetpp.simulation.inspectors.BuiltinInspectorTypes$ObjectFields"
            description="Displays onject content in a tree"
            icon="icons/obj16/field.png"
            id="org.omnetpp.simulation.inspectors.ObjectFields"
            name="Details">
      </inspectorType>
      <inspectorType
            class="org.omnetpp.simulation.inspectors.BuiltinInspectorTypes$InfoText"
            description="Displays object name, type, and a one-line info string"
            icon="icons/obj16/info.png"
            id="org.omnetpp.simulation.inspectors.InfoText"
            name="Info Text">
      </inspectorType>
      <inspectorType
            class="org.omnetpp.simulation.inspectors.BuiltinInspectorTypes$GraphicalModule"
            description="Network/subnetwork/node diagram with animations"
            icon="icons/obj16/compound.png"
            id="org.omnetpp.simulation.inspectors.GraphicalModule"
            name="Module">
      </inspectorType>
   </extension>
   <extension
         point="org.omnetpp.simulation.essentialsProviders">
      <essentialsProvider
            class="org.omnetpp.simulation.model.essentials.cMessageEssentialsProvider"
            icon="icons/obj16/message.png"
            name="Message and packet objects">
      </essentialsProvider>
      <essentialsProvider
            class="org.omnetpp.simulation.model.essentials.cModuleEssentialsProvider"
            icon="icons/obj16/compound.png"
            name="Module objects">
      </essentialsProvider>
      <essentialsProvider
            class="org.omnetpp.simulation.model.essentials.cParEssentialsProvider"
            icon="icons/obj16/param.png"
            name="Parameter objects">
      </essentialsProvider>
   </extension>

</plugin>
