<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.omnetpp.simulation.editors.SimulationEditor"
            contributorClass="org.omnetpp.simulation.editors.SimulationContributor"
            extensions="sim"
            icon="icons/sample.gif"
            id="org.omnetpp.simulation.editors.SimulationEditor"
            name="Simulation">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.omnetpp.views"
            class="org.omnetpp.simulation.views.ObjectTreeView"
            icon="icons/eview16/objecttree.png"
            id="org.omnetpp.simulation.views.ObjectTreeView"
            name="Simulation Object Tree">
      </view>
      <view
            allowMultiple="false"
            category="org.omnetpp.views"
            class="org.omnetpp.simulation.views.ModuleOutputView"
            icon="icons/eview16/moduleoutput.png"
            id="org.omnetpp.simulation.views.ModuleOutputView"
            name="Module Output">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.dialogs"
            defaultHandler="org.omnetpp.simulation.actions.AttachToSimulationHandler"
            id="org.omnetpp.simulation.commands.AttachToSimulationCommand"
            name="Attach to Simulation...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.run?after=breakpointGroup">
         <command
               commandId="org.omnetpp.simulation.commands.AttachToSimulationCommand"
               id="attachtosimulation">
         </command>
      </menuContribution>
   </extension>

</plugin>
