<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.omnetpp.ide.MultiPageNedEditor"
            contributorClass="org.omnetpp.ide.actions.MultiPageNedEditorActionContributor"
            default="false"
            extensions="ned"
            icon="icons/gned.gif"
            id="org.omnetpp.ide.gteditor"
            name="NED Editor">
      </editor>
   </extension>
   <extension
         id="gned2"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.omnetpp.ide.OmnetIdeApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="NED Editing"
            class="org.omnetpp.ide.misc.Perspective"
            id="org.omnetpp.ide.perspective">
      </perspective>
   </extension>
   <extension
         id="omnetppide"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="OMNeT++ IDE">
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="windowImages"
               value="icons/sample2.gif"/>
         <property
               name="aboutImage"
               value="product_lg.gif"/>
      </product>
   </extension>

</plugin>
