<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.omnetpp.ned.editor.MultiPageNedEditor"
            contributorClass="org.omnetpp.ned.editor.MultiPageNedEditorActionContributor"
            default="true"
            extensions="ned"
            icon="icons/gned.gif"
            id="org.omnetpp.ned.editor"
            name="NED Editor">
      </editor>
   </extension>
   <extension
         id="omnetppide"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="OMNeT++ IDE">
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="windowImages"
               value="icons/sample2.gif"/>
         <property
               name="aboutImage"
               value="product_lg.gif"/>
      </product>
   </extension>

</plugin>
