<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision fileVersion="4.0.0"/>
      <toolChain
            archList="all"
            configurationEnvironmentSupplier="org.omnetpp.cdt.msvc.WinEnvironmentVariableSupplier"
            id="org.omnetpp.cdt.msvc.toolchain"
            isAbstract="true"
            isToolChainSupported="org.omnetpp.cdt.msvc.WinEnvironmentVariableSupplier"
            name="%toolchain.name"
            osList="win32"
            scannerConfigDiscoveryProfileId="org.omnetpp.cdt.msvc.MSVCScannerInfo"
            resourceTypeBasedDiscovery="false"
            targetTool="org.omnetpp.cdt.msvc.link;org.omnetpp.cdt.msvc.lib">
         <targetPlatform
               archList="all"
               binaryParser="org.eclipse.cdt.core.PE"
               id="org.omnetpp.cdt.msvc.targetPlatform"
               osList="win32">
         </targetPlatform>
         <builder
               id="org.omnetpp.cdt.opp_nmakemake.builder2"
               isVariableCaseSensitive="false"
               superClass="org.eclipse.cdt.build.core.internal.builder">
         </builder>
      <tool
            command="cl /c"
            errorParsers="org.eclipse.cdt.core.VCErrorParser"
            id="org.omnetpp.cdt.msvc.cl"
            name="%compiler.name"
            natureFilter="both"
            outputFlag="/Fo">
         <supportedProperties>
            <property
                  id="org.eclipse.cdt.build.core.buildType">
               <value
                     id="org.eclipse.cdt.build.core.buildType.debug">
               </value>
               <value
                     id="org.eclipse.cdt.build.core.buildType.release">
               </value>
            </property>
         </supportedProperties>
         <optionCategory
               id="org.omnetpp.cdt.msvc.cl.optionCategory.optimization"
               name="Optimization"/>
         <option
               category="org.omnetpp.cdt.msvc.cl.optionCategory.optimization"
               id="org.omnetpp.cdt.msvc.cl.option.optimization"
               name="Optimization"
               resourceFilter="all"
               valueType="enumerated">
            <enumeratedOptionValue
                  id="org.omnetpp.cdt.msvc.cl.option.optimization.default"
                  isDefault="false"
                  name="Default"/>
            <enumeratedOptionValue
                  command="/O1"
                  id="org.omnetpp.cdt.msvc.cl.option.optimization.1"
                  isDefault="false"
                  name="Minimize Size (/O1)"/>
            <enumeratedOptionValue
                  command="/O2"
                  id="org.omnetpp.cdt.msvc.cl.option.optimization.2"
                  isDefault="true"
                  name="Maximize Speed (/O2)"/>
            <enablement
                  attribute="value"
                  extensionAdjustment="false"
                  type="CONTAINER_ATTRIBUTE"
                  value="org.omnetpp.cdt.msvc.cl.option.optimization.2">
               <checkBuildProperty
                     property="org.eclipse.cdt.build.core.buildType"
                     value="org.eclipse.cdt.build.core.buildType.release">
               </checkBuildProperty>
            </enablement>
            <enablement
                  attribute="value"
                  extensionAdjustment="false"
                  type="CONTAINER_ATTRIBUTE"
                  value="org.omnetpp.cdt.msvc.cl.option.optimization.default">
               <checkBuildProperty
                     property="org.eclipse.cdt.build.core.buildType"
                     value="org.eclipse.cdt.build.core.buildType.debug">
               </checkBuildProperty>
            </enablement>
         </option>
         <optionCategory
               id="org.omnetpp.cdt.msvc.cl.optionCategory.codegen"
               name="Code Generation"/>
         <option
               category="org.omnetpp.cdt.msvc.cl.optionCategory.codegen"
               id="org.omnetpp.cdt.msvc.cl.option.arch"
               name="Minimum CPU Architecture"
               resourceFilter="all"
               valueType="enumerated">
            <enumeratedOptionValue
                  id="org.omnetpp.cdt.msvc.cl.option.arch.default"
                  isDefault="true"
                  name="Default"/>
            <enumeratedOptionValue
                  command="/arch:SSE"
                  id="org.omnetpp.cdt.msvc.cl.option.arch.sse"
                  isDefault="false"
                  name="SSE (/arch:SSE)"/>
            <enumeratedOptionValue
                  id="org.omnetpp.cdt.msvc.cl.option.arch.sse2"
                  isDefault="false"
                  name="SSE2 (/arch:SSE2)"/>
         </option>
         <option
               category="org.omnetpp.cdt.msvc.cl.optionCategory.codegen"
               command="/clr"
               defaultValue="false"
               id="org.omnetpp.cdt.msvc.cl.option.clr"
               name="Common Language Runtime (/clr)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.omnetpp.cdt.msvc.cl.optionCategory.codegen"
               command="/EHs"
               defaultValue="true"
               id="org.omnetpp.cdt.msvc.cl.option.exceptions"
               name="Enable C++ Exception Handling (/EHs)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.omnetpp.cdt.msvc.cl.optionCategory.codegen"
               commandFalse="/GR-"
               defaultValue="true"
               id="org.omnetpp.cdt.msvc.cl.option.rtti"
               name="Enable Run-Time Type Information (/GR)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.omnetpp.cdt.msvc.cl.optionCategory.codegen"
               id="org.omnetpp.cdt.msvc.cl.option.runtime"
               name="Run-Time Library"
               resourceFilter="all"
               valueType="enumerated">
            <enumeratedOptionValue
                  command="/MT"
                  id="org.omnetpp.cdt.msvc.cl.option.runtime.mt"
                  isDefault="false"
                  name="Multi-Threaded Static (/MT)"/>
            <enumeratedOptionValue
                  command="/MTd"
                  id="org.omnetpp.cdt.msvc.cl.option.runtime.mtd"
                  isDefault="false"
                  name="Multi-Threaded Static Debug (/MTd)"/>
            <enumeratedOptionValue
                  command="/MD"
                  id="org.omnetpp.cdt.msvc.cl.option.runtime.md"
                  isDefault="true"
                  name="Multi-Threaded DLL (/MD)"/>
            <enumeratedOptionValue
                  command="/MDd"
                  id="org.omnetpp.cdt.msvc.cl.option.runtime.mdd"
                  isDefault="false"
                  name="Multi-Threaded DLL Debug (/MDd)"/>
         </option>
         <optionCategory
               id="org.omnetpp.cdt.msvc.cl.optionCategory.debug"
               name="Debugging"/>
         <option
               category="org.omnetpp.cdt.msvc.cl.optionCategory.debug"
               id="org.omnetpp.cdt.msvc.cl.option.debugFormat"
               name="Debug Information Format"
               resourceFilter="all"
               valueType="enumerated">
            <enumeratedOptionValue
                  id="org.omnetpp.cdt.msvc.cl.option.debugFormat.none"
                  isDefault="true"
                  name="None"/>
            <enumeratedOptionValue
                  command="/Z7"
                  id="org.omnetpp.cdt.msvc.cl.option.debugFormat.c7"
                  isDefault="false"
                  name="C7 Compatible (/Z7)"/>
            <enumeratedOptionValue
                  command="/Zi"
                  id="org.omnetpp.cdt.msvc.cl.option.debugFormat.complete"
                  isDefault="false"
                  name="Complete (/Zi)"/>
            <enablement
                  attribute="value"
                  extensionAdjustment="false"
                  type="CONTAINER_ATTRIBUTE"
                  value="org.omnetpp.cdt.msvc.cl.option.debugFormat.none">
               <checkBuildProperty
                     property="org.eclipse.cdt.build.core.buildType"
                     value="org.eclipse.cdt.build.core.buildType.release">
               </checkBuildProperty>
            </enablement>
            <enablement
                  attribute="value"
                  extensionAdjustment="false"
                  type="CONTAINER_ATTRIBUTE"
                  value="org.omnetpp.cdt.msvc.cl.option.debugFormat.complete">
               <checkBuildProperty
                     property="org.eclipse.cdt.build.core.buildType"
                     value="org.eclipse.cdt.build.core.buildType.debug">
               </checkBuildProperty>
            </enablement>
         </option>
         <optionCategory
               id="org.omnetpp.cdt.msvc.cl.optionCategory.preprocessor"
               name="Preprocessor"/>
         <option
               category="org.omnetpp.cdt.msvc.cl.optionCategory.preprocessor"
               command="/D"
               id="org.omnetpp.cdt.msvc.cl.option.macros"
               name="Defines (/D)"
               resourceFilter="all"
               valueType="definedSymbols"/>
         <option
               browseType="directory"
               category="org.omnetpp.cdt.msvc.cl.optionCategory.preprocessor"
               command="/I"
               id="org.omnetpp.cdt.msvc.cl.option.includes"
               name="Include Path (/I)"
               resourceFilter="all"
               valueType="includePath"/>
         <optionCategory
               id="org.omnetpp.cdt.msvc.cl.optionCategory.language"
               name="Language"/>
         <option
               category="org.omnetpp.cdt.msvc.cl.optionCategory.language"
               command="/openmp"
               defaultValue="false"
               id="org.omnetpp.cdt.msvc.cl.option.openmp"
               name="Enable OpenMP (/openmp)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.omnetpp.cdt.msvc.cl.optionCategory.language"
               commandFalse="/Za"
               defaultValue="true"
               id="org.omnetpp.cdt.msvc.cl.option.langExtensions"
               name="Enable Language Extensions (/Ze,/Za)"
               resourceFilter="all"
               valueType="boolean"/>
         <optionCategory
               id="org.omnetpp.cdt.msvc.cl.optionCategory.miscellaneous"
               name="Miscellaneous"/>
         <option
               category="org.omnetpp.cdt.msvc.cl.optionCategory.miscellaneous"
               command="/nologo"
               defaultValue="true"
               id="org.omnetpp.cdt.msvc.cl.option.nologo"
               name="Suppress Banner (/nologo)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.omnetpp.cdt.msvc.cl.optionCategory.miscellaneous"
               id="org.omnetpp.cdt.msvc.cl.option.others"
               name="Other Options"
               resourceFilter="all"
               valueType="stringList"/>
         <inputType
               dependencyContentType="org.eclipse.cdt.core.cxxHeader"
               id="org.omnetpp.cdt.msvc.cl.inputType"
               scannerConfigDiscoveryProfileId="org.eclipse.cdt.msw.build.clScannerInfo"
               sourceContentType="org.eclipse.cdt.core.cxxSource">
         </inputType>
         <outputType
               id="org.omnetpp.cdt.msvc.cl.outputType"
               outputs="obj">
         </outputType>
      </tool>
      <tool
            command="rc"
            errorParsers="org.eclipse.cdt.core.VCErrorParser"
            id="org.omnetpp.cdt.msvc.rc"
            name="%rc.name"
            natureFilter="both"
            outputFlag="/Fo"
            >
         <optionCategory
               id="org.omnetpp.cdt.msvc.rc.optionCategory.preprocessor"
               name="Preprocessor"/>
         <option
               browseType="directory"
               category="org.omnetpp.cdt.msvc.rc.optionCategory.preprocessor"
               command="/I"
               id="org.omnetpp.cdt.msvc.rc.option.includes"
               name="Include Path (/I)"
               resourceFilter="all"
               valueType="includePath"/>
         <option
               category="org.omnetpp.cdt.msvc.rc.optionCategory.preprocessor"
               command="/D"
               id="org.omnetpp.cdt.msvc.rc.option.defines"
               name="Defines (/D)"
               resourceFilter="all"
               valueType="definedSymbols"/>
         <optionCategory
               id="org.omnetpp.cdt.msvc.rc.optionCategory.misc"
               name="Miscellaneous"/>
         <option
               category="org.omnetpp.cdt.msvc.rc.optionCategory.misc"
               id="org.omnetpp.cdt.msvc.rc.option.others"
               name="Other Options"
               resourceFilter="all"
               valueType="stringList"/>
         <inputType
               id="org.omnetpp.cdt.msvc.rc.inputType"
               sources="rc">
         </inputType>
         <outputType
               id="org.omnetpp.cdt.msvc.rc.outputType"
               outputs="res">
         </outputType>
      </tool>
      <tool
            command="link"
            errorParsers="org.eclipse.cdt.core.VCErrorParser"
            id="org.omnetpp.cdt.msvc.link"
            name="%linker.name"
            natureFilter="both"
            outputFlag="/OUT:"
            >
         <supportedProperties>
            <property
                  id="org.eclipse.cdt.build.core.buildArtefactType">
               <value
                     id="org.eclipse.cdt.build.core.buildArtefactType.exe"></value>
               <value
                     id="org.eclipse.cdt.build.core.buildArtefactType.sharedLib">
               </value>
            </property>
         </supportedProperties>
         <option
               command="/DLL"
               defaultValue="false"
               id="org.omnetpp.cdt.msvc.link.option.dll"
               name="Build a DLL"
               resourceFilter="all"
               valueType="boolean">
            <enablement
                  attribute="defaultValue"
                  extensionAdjustment="false"
                  type="CONTAINER_ATTRIBUTE"
                  value="true">
               <checkBuildProperty
                     property="org.eclipse.cdt.build.core.buildArtefactType"
                     value="org.eclipse.cdt.build.core.buildArtefactType.sharedLib">
               </checkBuildProperty>
            </enablement>
         </option>
         <optionCategory
               id="org.omnetpp.cdt.msvc.link.optionCategory.general"
               name="General"/>
         <option
               category="org.omnetpp.cdt.msvc.link.optionCategory.general"
               command="/debug"
               defaultValue="false"
               id="org.omnetpp.cdt.msvc.link.option.debug"
               name="Generate Debug Info (/debug)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.omnetpp.cdt.msvc.link.optionCategory.general"
               command="/nologo"
               defaultValue="true"
               id="org.omnetpp.cdt.msvc.link.option.nologo"
               name="Suppress Banner (/nologo)"
               resourceFilter="all"
               valueType="boolean"/>
         <option
               category="org.omnetpp.cdt.msvc.link.optionCategory.general"
               id="org.omnetpp.cdt.msvc.link.option.others"
               name="Other Options"
               resourceFilter="all"
               valueType="stringList"/>
         <optionCategory
               id="org.omnetpp.cdt.msvc.link.optionCategory.libraries"
               name="Libraries"/>
         <option
               browseType="directory"
               category="org.omnetpp.cdt.msvc.link.optionCategory.libraries"
               command="/libpath:"
               id="org.omnetpp.cdt.msvc.link.option.libpath"
               name="Additional Libpath (/libpath)"
               resourceFilter="all"
               valueType="stringList"/>
         <option
               browseType="file"
               category="org.omnetpp.cdt.msvc.link.optionCategory.libraries"
               id="org.omnetpp.cdt.msvc.link.option.libraries"
               name="Libraries"
               resourceFilter="all"
               valueType="libs"/>
         <inputType
               id="org.omnetpp.cdt.msvc.link.inputType"
               multipleOfType="true"
               sources="res,obj">
         </inputType>
         <outputType
               id="org.omnetpp.cdt.msvc.link.outputType"
               outputs="exe">
         </outputType>
         <outputType
               id="org.omnetpp.cdt.msvc.link.outputType.dll"
               outputs="dll">
         </outputType>
      </tool>
      <tool
            command="lib"
            id="org.omnetpp.cdt.msvc.lib"
            name="%lib.name"
            natureFilter="both"
            outputFlag="/OUT:"
            >
         <supportedProperties>
            <property
                  id="org.eclipse.cdt.build.core.buildArtefactType">
               <value
                     id="org.eclipse.cdt.build.core.buildArtefactType.staticLib">
               </value>
            </property>
         </supportedProperties>
         <optionCategory
               id="org.omnetpp.cdt.msvc.lib.optionCategory.general"
               name="General"/>
         <option
               category="org.omnetpp.cdt.msvc.lib.optionCategory.general"
               command="/nologo"
               defaultValue="true"
               id="org.omnetpp.cdt.msvc.lib.option.nologo"
               name="Suppress Banner (/nologo)"
               resourceFilter="all"
               valueType="boolean"/>
         <inputType
               id="org.omnetpp.cdt.msvc.lib.inputType"
               sources="obj,res">
         </inputType>
         <outputType
               id="org.omnetpp.cdt.msvc.lib.outputType"
               outputs="lib">
         </outputType>
      </tool>
      </toolChain>
      <configuration
            artifactExtension="exe"
            id="org.omnetpp.cdt.msvc.configuration">
         <enablement
               attribute="artifactExtension"
               extensionAdjustment="false"
               type="CONTAINER_ATTRIBUTE"
               value="dll">
            <checkBuildProperty
                  property="org.eclipse.cdt.build.core.buildArtefactType"
                  value="org.eclipse.cdt.build.core.buildArtefactType.sharedLib"></checkBuildProperty>
         </enablement>
         <enablement
               attribute="artifactExtension"
               extensionAdjustment="false"
               type="CONTAINER_ATTRIBUTE"
               value="lib">
            <checkBuildProperty
                  property="org.eclipse.cdt.build.core.buildArtefactType"
                  value="org.eclipse.cdt.build.core.buildArtefactType.staticLib"></checkBuildProperty>
         </enablement>
      </configuration>
      <projectType
            buildProperties="org.eclipse.cdt.build.core.buildArtefactType=org.eclipse.cdt.build.core.buildArtefactType.exe"
            id="org.omnetpp.cdt.msvc.projectType.exe"
            projectEnvironmentSupplier="org.omnetpp.cdt.msvc.WinEnvironmentVariableSupplier">
         <configuration
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
               id="org.omnetpp.cdt.msvc.exe.debug"
               name="%config.debug"
               parent="org.omnetpp.cdt.msvc.configuration">
            <toolChain
                  id="org.omnetpp.cdt.msvc.toolchain.exe.debug"
                  superClass="org.omnetpp.cdt.msvc.toolchain.base">
               <targetPlatform
                     id="org.omnetpp.cdt.msvc.targetPlatform.exe.debug"
                     superClass="org.omnetpp.cdt.msvc.targetPlatform">
               </targetPlatform>
               <tool
                     id="org.omnetpp.cdt.msvc.cl.exe.debug"
                     superClass="org.omnetpp.cdt.msvc.cl">
               </tool>
               <tool
                     id="org.omnetpp.cdt.msvc.rc.exe.debug"
                     superClass="org.omnetpp.cdt.msvc.rc">
               </tool>
               <tool
                     id="org.omnetpp.cdt.msvc.link.exe.debug"
                     superClass="org.omnetpp.cdt.msvc.link">
               </tool>
            </toolChain>
         </configuration>
         <configuration
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
               id="org.omnetpp.cdt.msvc.exe.release"
               name="%config.release"
               parent="org.omnetpp.cdt.msvc.configuration">
            <toolChain
                  id="org.omnetpp.cdt.msvc.toolchain.exe.release"
                  superClass="org.omnetpp.cdt.msvc.toolchain.base">
               <targetPlatform
                     id="org.omnetpp.cdt.msvc.targetPlatform.exe.release"
                     superClass="org.omnetpp.cdt.msvc.targetPlatform">
               </targetPlatform>
               <tool
                     id="org.omnetpp.cdt.msvc.cl.exe.release"
                     superClass="org.omnetpp.cdt.msvc.cl">
               </tool>
               <tool
                     id="org.omnetpp.cdt.msvc.rc.exe.release"
                     superClass="org.omnetpp.cdt.msvc.rc">
               </tool>
               <tool
                     id="org.omnetpp.cdt.msvc.link.exe.release"
                     superClass="org.omnetpp.cdt.msvc.link">
               </tool>
            </toolChain>
         </configuration>
      </projectType>
      <projectType
            buildProperties="org.eclipse.cdt.build.core.buildArtefactType=org.eclipse.cdt.build.core.buildArtefactType.sharedLib"
            id="org.omnetpp.cdt.msvc.projectType.dll"
            projectEnvironmentSupplier="org.omnetpp.cdt.msvc.WinEnvironmentVariableSupplier">
         <configuration
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
               id="org.omnetpp.cdt.msvc.dll.debug"
               name="%config.debug"
               parent="org.omnetpp.cdt.msvc.configuration">
            <toolChain
                  id="org.omnetpp.cdt.msvc.toolchain.dll.debug"
                  superClass="org.omnetpp.cdt.msvc.toolchain.base">
               <targetPlatform
                     id="org.omnetpp.cdt.msvc.targetPlatform.dll.debug"
                     superClass="org.omnetpp.cdt.msvc.targetPlatform">
               </targetPlatform>
               <tool
                     id="org.omnetpp.cdt.msvc.cl.dll.debug"
                     superClass="org.omnetpp.cdt.msvc.cl">
               </tool>
               <tool
                     id="org.omnetpp.cdt.msvc.rc.dll.debug"
                     superClass="org.omnetpp.cdt.msvc.rc">
               </tool>
               <tool
                     id="org.omnetpp.cdt.msvc.link.dll.debug"
                     superClass="org.omnetpp.cdt.msvc.link">
               </tool>
            </toolChain>
         </configuration>
         <configuration
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
               id="org.omnetpp.cdt.msvc.dll.release"
               name="%config.release"
               parent="org.omnetpp.cdt.msvc.configuration">
            <toolChain
                  id="org.omnetpp.cdt.msvc.toolchain.dll.release"
                  superClass="org.omnetpp.cdt.msvc.toolchain.base">
               <targetPlatform
                     id="org.omnetpp.cdt.msvc.targetPlatform.dll.release"
                     superClass="org.omnetpp.cdt.msvc.targetPlatform">
               </targetPlatform>
               <tool
                     id="org.omnetpp.cdt.msvc.cl.dll.release"
                     superClass="org.omnetpp.cdt.msvc.cl">
               </tool>
               <tool
                     id="org.omnetpp.cdt.msvc.rc.dll.release"
                     superClass="org.omnetpp.cdt.msvc.rc">
               </tool>
               <tool
                     id="org.omnetpp.cdt.msvc.link.dll.release"
                     superClass="org.omnetpp.cdt.msvc.link">
               </tool>
            </toolChain>
         </configuration>
      </projectType>
      <projectType
            buildProperties="org.eclipse.cdt.build.core.buildArtefactType=org.eclipse.cdt.build.core.buildArtefactType.staticLib"
            id="org.omnetpp.cdt.msvc.projectType.lib"
            projectEnvironmentSupplier="org.omnetpp.cdt.msvc.WinEnvironmentVariableSupplier">
         <configuration
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
               id="org.omnetpp.cdt.msvc.lib.debug"
               name="%config.debug"
               parent="org.omnetpp.cdt.msvc.configuration">
            <toolChain
                  id="org.omnetpp.cdt.msvc.toolchain.lib.debug"
                  superClass="org.omnetpp.cdt.msvc.toolchain.base">
               <targetPlatform
                     id="org.omnetpp.cdt.msvc.targetPlatform.lib.debug"
                     superClass="org.omnetpp.cdt.msvc.targetPlatform">
               </targetPlatform>
               <tool
                     id="org.omnetpp.cdt.msvc.cl.lib.debug"
                     superClass="org.omnetpp.cdt.msvc.cl">
               </tool>
               <tool
                     id="org.omnetpp.cdt.msvc.rc.lib.debug"
                     superClass="org.omnetpp.cdt.msvc.rc">
               </tool>
               <tool
                     id="org.omnetpp.cdt.msvc.lib.lib.debug"
                     superClass="org.omnetpp.cdt.msvc.lib">
               </tool>
            </toolChain>
         </configuration>
         <configuration
               buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
               id="org.omnetpp.cdt.msvc.lib.release"
               name="%config.release"
               parent="org.omnetpp.cdt.msvc.configuration">
            <toolChain
                  id="org.omnetpp.cdt.msvc.toolchain.lib.release"
                  superClass="org.omnetpp.cdt.msvc.toolchain.base">
               <targetPlatform
                     id="org.omnetpp.cdt.msvc.targetPlatform.lib.release"
                     superClass="org.omnetpp.cdt.msvc.targetPlatform">
               </targetPlatform>
               <tool
                     id="org.omnetpp.cdt.msvc.cl.lib.release"
                     superClass="org.omnetpp.cdt.msvc.cl">
               </tool>
               <tool
                     id="org.omnetpp.cdt.msvc.rc.lib.release"
                     superClass="org.omnetpp.cdt.msvc.rc">
               </tool>
               <tool
                     id="org.omnetpp.cdt.msvc.lib.lib.release"
                     superClass="org.omnetpp.cdt.msvc.lib">
               </tool>
            </toolChain>
         </configuration>
      </projectType>
   </extension>
   <extension
         id="MSVCScannerInfo"
         name="Windows SDK Scanner Info Provider"
         point="org.eclipse.cdt.make.core.ScannerConfigurationDiscoveryProfile">
      <scannerInfoCollector
            class="org.omnetpp.cdt.msvc.WinScannerInfoCollector"
            scope="project">
      </scannerInfoCollector>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.omnetpp.cdt.msvc.ui.MSVCPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="org.omnetpp.cdt.msvc.ui.MSVCPreferencePage"
            id="org.omnetpp.cdt.msvc.MSVCPreferencePage"
            name="MS Visual C++ Location">
      </page>
   </extension>

</plugin>
