<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

     <extension id="org.omnetpp.main.sequenchechart"
         name="OMNEST Integrated Development Environment"
	 point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="OMNEST Sequence Chart">
          <property name="appName" value="OMNEST Sequence Chart"/>
          <property name="preferenceCustomization" value="plugin_customization.ini"/>
    <property
          name="startupForegroundColor"
          value="000000">
    </property>
    <property
          name="startupMessageRect"
          value="10,20,500,25">
    </property>
    <property
          name="startupProgressRect"
          value="10,10,298,10">
    </property>
    <property
          name="aboutImage"
          value="platform:/plugin/org.omnetpp.main.sequencechart/icons/about-image.png">
    </property>
    <property
          name="windowImages"
          value="icons/logo16.png,icons/logo32.png,icons/logo48.png,icons/logo64.png,icons/logo128.png">
    </property>
    <property
          name="aboutText"
          value="%aboutText">
    </property>
      </product>
   </extension>
     <extension
           point="org.eclipse.ui.startup">
        <startup
              class="org.omnetpp.main.sequencechart.Startup">
        </startup>
     </extension>
</plugin>
