<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory
       uri = "null"
       class = "org.omnetpp.scave.model.provider.ScaveModelItemProviderAdapterFactory"
       supportedTypes =
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
       uri = "null"
       class = "org.omnetpp.scave.model.ScaveModelPackage"
       genModel = "model/scave.genmodel" />
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.omnetpp.scave.model.presentation.ScaveModelEditorID"
        name = "%_UI_ScaveModelEditor_label"
        icon = "icons/full/obj16/ScaveModelModelFile.gif"
        extensions = "scavemodel"
        class = "org.omnetpp.scave.model.presentation.ScaveModelEditor"
        contributorClass="org.omnetpp.scave.model.presentation.ScaveModelActionBarContributor" >
    </editor>
  </extension>

</plugin>
