<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin
    name = "OMNeT++ Scalar / Vector Chart Data Model"
    id = "org.omnetpp.scave.model"
    version = "4.0.0"
    provider-name = "OpenSim Ltd."
    class = "org.omnetpp.scave.model.provider.ScaveEditPlugin$Implementation">

  <requires>
    <import plugin="org.eclipse.core.runtime" />
    <import plugin="org.eclipse.core.resources" export="true"/>
    <import plugin="org.eclipse.emf.ecore.xmi" export="true"/>
    <import plugin="org.eclipse.emf.edit.ui" export="true"/>
    <import plugin="org.eclipse.ui.ide" export="true"/>
  </requires>

  <runtime>
    <library name=".">
      <export name="*"/>
    </library>
  </runtime>

  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory
       uri = "null"
       class = "org.omnetpp.scave.model.provider.ScaveModelItemProviderAdapterFactory"
       supportedTypes =
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
       uri = "null"
       class = "org.omnetpp.scave.model.ScaveModelPackage"
       genModel = "model/scave.genmodel" />
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.omnetpp.scave.model.presentation.ScaveModelEditorID"
        name = "%_UI_ScaveModelEditor_label"
        icon = "icons/full/obj16/ScaveModelModelFile.gif"
        extensions = "scavemodel"
        class = "org.omnetpp.scave.model.presentation.ScaveModelEditor"
        contributorClass="org.omnetpp.scave.model.presentation.ScaveModelActionBarContributor" >
    </editor>
  </extension>

</plugin>
