<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.omnetpp.ned2.editor.graph.gmf.editor.part.Ned2DiagramPreferenceInitializer"/>
   </extension>

  <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes
         type="text"
         extension="ned2_diagram">
      </fileTypes>
  </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
         type="ned2_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.MResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors">
     <editor
        id="org.omnetpp.ned2.editor.graph.gmf.editor.part.Ned2DiagramEditorID"
        name="ned2 Diagram Editor"
        icon="icons/full/obj16/ned2ModelFile.gif"
        extensions="ned2_diagram"
        default="true"
        class="org.omnetpp.ned2.editor.graph.gmf.editor.part.Ned2DiagramEditor"
        matchingStrategy="org.omnetpp.ned2.editor.graph.gmf.editor.part.Ned2MatchingStrategy"
        contributorClass="org.omnetpp.ned2.editor.graph.gmf.editor.part.Ned2DiagramActionBarContributor">
     </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
  	  <wizard
  	     name="ned2 Diagram"
  	     icon="icons/full/obj16/ned2ModelFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="org.omnetpp.ned2.editor.graph.gmf.editor.part.Ned2CreationWizard"
  	     id="org.omnetpp.ned2.editor.graph.gmf.editor.part.Ned2CreationWizardID">
  	  	 <description>
  	  		Creates ned2 diagram.
  	  	 </description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.omnetpp.ned2.editor.graph.ui.objectContribution.IFile1"
            nameFilter="*.ned2"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="Initialize ned2_diagram diagram file"
               class="org.omnetpp.ned2.editor.graph.gmf.editor.part.Ned2InitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.omnetpp.ned2.editor.graph.gmf.editor.part.Ned2InitDiagramFileActionID">
         </action>
      </objectContribution>  
  </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="ned2Presentation">
         <Priority name="Medium"/>
         <ViewId id="org.omnetpp.ned2.editor.graph.gmf.editor.part.Ned2DiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="ned2PresentationIDE">
         <Priority name="Medium"/>
         <ViewId id="org.omnetpp.ned2.editor.graph.gmf.editor.part.Ned2DiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="ned2Render">
         <Priority name="Medium"/>
         <ViewId id="org.omnetpp.ned2.editor.graph.gmf.editor.part.Ned2DiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="org.omnetpp.ned2.editor.graph.gmf.providers.Ned2ViewProvider">
         <Priority name="Medium"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="ned2"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="org.omnetpp.ned2.editor.graph.gmf.providers.Ned2EditPartProvider">
         <Priority name="Medium"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.core.MetaModelProviders">
      <MetaModelProvider class="org.omnetpp.ned2.editor.graph.gmf.providers.Ned2MetaModelSupportProvider">
         <Priority name="Medium"/>
      </MetaModelProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <modelingAssistantProvider class="org.omnetpp.ned2.editor.graph.gmf.providers.Ned2ModelingAssistantProvider">
         <Priority name="Medium"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.properties.propertiesProviders">
      <PropertiesProvider
            verifyPluginLoaded="false"
            class="org.omnetpp.ned2.editor.graph.gmf.providers.Ned2PropertyProvider">
         <Priority name="Medium"/>
      </PropertiesProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <IconProvider class="org.omnetpp.ned2.editor.graph.gmf.providers.Ned2IconProvider">
         <Priority name="Medium"/>
      </IconProvider>
   </extension>

   
</plugin>
