<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.omnetpp.runtimeenv.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.omnetpp.runtimeenv.Perspective"
            id="org.omnetpp.runtimeenv.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="org.omnetpp.runtimeenv.View"
            id="org.omnetpp.runtimeenv.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.omnetpp.runtimeenv.editors.ModelCanvas"
            icon="icons/sample.gif"
            id="org.omnetpp.runtimeenv.editors.ModelCanvas"
            matchingStrategy="org.omnetpp.runtimeenv.editors.EditorMatchingStrategy"
            name="Module Viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.omnetpp.runtimeenv.commands.simulateCategory"
            name="Simulate">
      </category>
      <command
            categoryId="org.omnetpp.runtimeenv.commands.simulateCategory"
            id="org.omnetpp.runtimeenv.commands.stepCommand"
            name="Step"/>
      <command
            categoryId="org.omnetpp.runtimeenv.commands.simulateCategory"
            id="org.omnetpp.runtimeenv.commands.slowRunCommand"
            name="Slow execution"/>
      <command
            categoryId="org.omnetpp.runtimeenv.commands.simulateCategory"
            id="org.omnetpp.runtimeenv.commands.runCommand"
            name="Run"/>
      <command
            categoryId="org.omnetpp.runtimeenv.commands.simulateCategory"
            id="org.omnetpp.runtimeenv.commands.fastRunCommand"
            name="Fast run (no animation)"/>
      <command
            categoryId="org.omnetpp.runtimeenv.commands.simulateCategory"
            id="org.omnetpp.runtimeenv.commands.expressRunCommand"
            name="Express run (logging off)"/>
      <command
            categoryId="org.omnetpp.runtimeenv.commands.simulateCategory"
            id="org.omnetpp.runtimeenv.commands.runUntilCommand"
            name="Run until..."/>
      <command
            categoryId="org.omnetpp.runtimeenv.commands.simulateCategory"
            id="org.omnetpp.runtimeenv.commands.stopCommand"
            name="Stop"/>
      <command
            categoryId="org.omnetpp.runtimeenv.commands.simulateCategory"
            id="org.omnetpp.runtimeenv.commands.callFinishCommand"
            name="Call finish"/>
      <command
            categoryId="org.omnetpp.runtimeenv.commands.simulateCategory"
            id="org.omnetpp.runtimeenv.commands.rebuildNetworkCommand"
            name="Rebuild network"/>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.omnetpp.runtimeenv.handlers.StepHandler"
            commandId="org.omnetpp.runtimeenv.commands.stepCommand"/>
      <handler
            class="org.omnetpp.runtimeenv.handlers.SlowRunHandler"
            commandId="org.omnetpp.runtimeenv.commands.slowRunCommand"/>
      <handler
            class="org.omnetpp.runtimeenv.handlers.RunHandler"
            commandId="org.omnetpp.runtimeenv.commands.runCommand"/>
      <handler
            class="org.omnetpp.runtimeenv.handlers.FastRunHandler"
            commandId="org.omnetpp.runtimeenv.commands.fastRunCommand"/>
      <handler
            class="org.omnetpp.runtimeenv.handlers.ExpressRunHandler"
            commandId="org.omnetpp.runtimeenv.commands.expressRunCommand"/>
      <handler
            class="org.omnetpp.runtimeenv.handlers.RunUntilHandler"
            commandId="org.omnetpp.runtimeenv.commands.runUntilCommand"/>
      <handler
            class="org.omnetpp.runtimeenv.handlers.StopHandler"
            commandId="org.omnetpp.runtimeenv.commands.stopCommand"/>
      <handler
            class="org.omnetpp.runtimeenv.handlers.CallFinishHandler"
            commandId="org.omnetpp.runtimeenv.commands.callFinishCommand"/>
      <handler
            class="org.omnetpp.runtimeenv.handlers.RebuildNetworkHandler"
            commandId="org.omnetpp.runtimeenv.commands.rebuildNetworkCommand"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.omnetpp.runtimeenv.commands.stepCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F4"/>
      <key
            commandId="org.omnetpp.runtimeenv.commands.runCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F5"/>
      <key
            commandId="org.omnetpp.runtimeenv.commands.fastRunCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F6"/>
      <key
            commandId="org.omnetpp.runtimeenv.commands.expressRunCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F7"/>
      <key
            commandId="org.omnetpp.runtimeenv.commands.stopCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F8"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.omnetpp.runtimeenv.menus.simulateMenu"
               label="Simulate"
               mnemonic="S">
            <command
                  commandId="org.omnetpp.runtimeenv.commands.stepCommand"
                  id="org.omnetpp.runtimeenv.menus.stepCommand"
                  mnemonic="S"/>
            <command
                  commandId="org.omnetpp.runtimeenv.commands.slowRunCommand"
                  id="org.omnetpp.runtimeenv.menus.slowRunCommand"
                  mnemonic="L"/>
            <separator
                  name="org.omnetpp.runtimeenv.runSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="org.omnetpp.runtimeenv.commands.runCommand"
                  id="org.omnetpp.runtimeenv.menus.runCommand"
                  mnemonic="R"/>
            <command
                  commandId="org.omnetpp.runtimeenv.commands.fastRunCommand"
                  id="org.omnetpp.runtimeenv.menus.fastRunCommand"
                  mnemonic="F"/>
            <command
                  commandId="org.omnetpp.runtimeenv.commands.expressRunCommand"
                  id="org.omnetpp.runtimeenv.menus.expressRunCommand"
                  mnemonic="E"/>
            <command
                  commandId="org.omnetpp.runtimeenv.commands.runUntilCommand"
                  id="org.omnetpp.runtimeenv.menus.runUntilCommand"
                  mnemonic="U"/>
            <separator
                  name="org.omnetpp.runtimeenv.stopSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="org.omnetpp.runtimeenv.commands.stopCommand"
                  icon="icons/etool16/stop.png"
                  id="org.omnetpp.runtimeenv.menus.stopCommand"
                  mnemonic="T"/>
            <separator
                  name="org.omnetpp.runtimeenv.finshSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="org.omnetpp.runtimeenv.commands.callFinishCommand"
                  icon="icons/etool16/finish.png"
                  id="org.omnetpp.runtimeenv.menus.callFinishCommand"
                  mnemonic="C"/>
            <command
                  commandId="org.omnetpp.runtimeenv.commands.rebuildNetworkCommand"
                  id="org.omnetpp.runtimeenv.menus.rebuildNetworkCommand"
                  mnemonic="B"/>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.omnetpp.runtimeenv.toolbars.simulateToolbar">
            <command
                  commandId="org.omnetpp.runtimeenv.commands.stepCommand"
                  icon="icons/etool16/step.png"
                  id="org.omnetpp.runtimeenv.toolbars.stepCommand"
                  tooltip="Step"/>
            <command
                  commandId="org.omnetpp.runtimeenv.commands.runCommand"
                  icon="icons/etool16/run.png"
                  id="org.omnetpp.runtimeenv.toolbars.runCommand"
                  tooltip="Run"/>
            <command
                  commandId="org.omnetpp.runtimeenv.commands.fastRunCommand"
                  icon="icons/etool16/fast.png"
                  id="org.omnetpp.runtimeenv.toolbars.fastRunCommand"
                  tooltip="Fast Run"/>
            <command
                  commandId="org.omnetpp.runtimeenv.commands.expressRunCommand"
                  icon="icons/etool16/express.png"
                  id="org.omnetpp.runtimeenv.toolbars.expressRunCommand"
                  tooltip="Express Run"/>
            <command
                  commandId="org.omnetpp.runtimeenv.commands.runUntilCommand"
                  icon="icons/etool16/until.png"
                  id="org.omnetpp.runtimeenv.toolbars.runUntilCommand"
                  tooltip="Run until..."/>
            <command
                  commandId="org.omnetpp.runtimeenv.commands.stopCommand"
                  icon="icons/etool16/stop.png"
                  id="org.omnetpp.runtimeenv.toolbars.stopCommand"
                  tooltip="Stop"/>
            <command
                  commandId="org.omnetpp.runtimeenv.commands.callFinishCommand"
                  icon="icons/etool16/finish.png"
                  id="org.omnetpp.runtimeenv.toolbars.callFinishCommand"
                  tooltip="Call finish()"/>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
