<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.omnetpp.ned.editor.MultiPageNedEditor"
            contributorClass="org.omnetpp.ned.editor.MultiPageNedEditorActionContributor"
            default="true"
            extensions="ned"
            icon="icons/nedfile.gif"
            id="org.omnetpp.ned.editor"
            name="NED Editor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.omnetpp.wizards"
            class="org.omnetpp.ned.editor.wizards.NewNEDFileWizard"
            icon="icons/newnedfile.gif"
            id="org.omnetpp.ned.editor.wizard.new.file"
            name="Network Description File (ned)">
         <description>
            Create a file that contains network elements, like simple or compound modules, channels etc.
         </description>
      </wizard>
   </extension>

<!-- =========================================================================== -->
<!-- Text based NED editor                                                       -->
<!-- =========================================================================== -->

   
   <extension
         id="NedDocumentSetupParticipant"
         name="NED Document Setup Participant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="ned"
            class="org.omnetpp.ned.editor.text.NedDocumentSetupParticipant">
      </participant>
   </extension>

   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.omnetpp.ned.editor.text.assist.NedContextType"
            id="org.omnetpp.ned.editor.text.default"
            name="NED File global context"/>
   </extension>
</plugin>
