<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="ned"
            icon="icons/nedfile.gif"
            id="org.omnetpp.ned.editor.launcher"
            launcher="org.omnetpp.ned.editor.NedEditorLauncher"
            name="NED Editor">
      </editor>
      <editor
            class="org.omnetpp.ned.editor.NedEditor"
            contributorClass="org.omnetpp.ned.editor.NedEditorActionContributor"
            icon="icons/nedfile.gif"
            id="org.omnetpp.ned.editor"
            name="NED Graphical Editor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.omnetpp.wizards"
            class="org.omnetpp.ned.editor.wizards.NewNEDFileWizard"
            icon="icons/newnedfile.gif"
            id="org.omnetpp.ned.editor.wizard.new.file"
            name="Network Description File (ned)">
         <description>
            Create a file that contains network elements, like simple or compound modules, channels etc.
         </description>
      </wizard>
      <wizard
            category="org.omnetpp.wizards"
            class="org.omnetpp.ned.editor.wizards.NewNedComponentWizard$NewSimpleModuleWizard"
            icon="icons/obj16/NewSimpleModule.png"
            id="org.omnetpp.ned.editor.wizard.new.simplemodule"
            name="Simple Module">
         <description>
            Create a new Simple module (NED and C++ files)
         </description>
      </wizard>
      <wizard
            category="org.omnetpp.wizards"
            class="org.omnetpp.ned.editor.wizards.NewNedComponentWizard$NewCompoundModuleWizard"
            icon="icons/obj16/NewCompoundModule.png"
            id="org.omnetpp.ned.editor.wizard.new.compoundmodule"
            name="Compound Module">
         <description>
            Create a new Compound module 
         </description>
      </wizard>
      <wizard
            category="org.omnetpp.wizards"
            class="org.omnetpp.ned.editor.wizards.NewNedComponentWizard$NewNetworkWizard"
            icon="icons/obj16/NewNetwork.png"
            id="org.omnetpp.ned.editor.wizard.new.network"
            name="Network">
         <description>
            Create a new Network
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
           <commonWizard 
                 associatedExtensionId="org.eclipse.cdt.ui.navigator.content" 
                 menuGroupId="org.eclipse.cdt.ui" 
                 type="new" 
                 wizardId="org.omnetpp.ned.editor.wizard.new.file">
                 <enablement>
                 	<and>
			               <adapt
			                     type="org.eclipse.core.resources.IResource">
			                 <test
			                     property="org.eclipse.core.resources.projectNature"
			                     value="org.omnetpp.main.omnetppnature">
			                 </test>
			               </adapt>
                  			<not>
                     			<instanceof value="org.eclipse.core.resources.IFile">
                     			</instanceof>
                  			</not>
	             	</and>
                 </enablement>
           </commonWizard>
           <commonWizard 
                 associatedExtensionId="org.eclipse.cdt.ui.navigator.content" 
                 menuGroupId="org.eclipse.cdt.ui" 
                 type="new" 
                 wizardId="org.omnetpp.ned.editor.wizard.new.simplemodule">
                 <enablement>
                 	<and>
			               <adapt
			                     type="org.eclipse.core.resources.IResource">
			                 <test
			                     property="org.eclipse.core.resources.projectNature"
			                     value="org.omnetpp.main.omnetppnature">
			                 </test>
			               </adapt>
                  			<not>
                     			<instanceof value="org.eclipse.core.resources.IFile">
                     			</instanceof>
                  			</not>
	             	</and>
                 </enablement>
           </commonWizard>
           <commonWizard 
                 associatedExtensionId="org.eclipse.cdt.ui.navigator.content" 
                 menuGroupId="org.eclipse.cdt.ui" 
                 type="new" 
                 wizardId="org.omnetpp.ned.editor.wizard.new.compoundmodule">
                 <enablement>
                 	<and>
			               <adapt
			                     type="org.eclipse.core.resources.IResource">
			                 <test
			                     property="org.eclipse.core.resources.projectNature"
			                     value="org.omnetpp.main.omnetppnature">
			                 </test>
			               </adapt>
                  			<not>
                     			<instanceof value="org.eclipse.core.resources.IFile">
                     			</instanceof>
                  			</not>
	             	</and>
                 </enablement>
           </commonWizard>
           <commonWizard 
                 associatedExtensionId="org.eclipse.cdt.ui.navigator.content" 
                 menuGroupId="org.eclipse.cdt.ui" 
                 type="new" 
                 wizardId="org.omnetpp.ned.editor.wizard.new.network">
                 <enablement>
                 	<and>
			               <adapt
			                     type="org.eclipse.core.resources.IResource">
			                 <test
			                     property="org.eclipse.core.resources.projectNature"
			                     value="org.omnetpp.main.omnetppnature">
			                 </test>
			               </adapt>
                  			<not>
                     			<instanceof value="org.eclipse.core.resources.IFile">
                     			</instanceof>
                  			</not>
	             	</and>
                 </enablement>
           </commonWizard>
   </extension>
   

<!-- =========================================================================== -->
<!-- Text based NED editor                                                       -->
<!-- =========================================================================== -->


   <extension
         id="NedDocumentSetupParticipant"
         name="NED Document Setup Participant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="ned"
            class="org.omnetpp.ned.editor.text.NedDocumentSetupParticipant">
      </participant>
   </extension>

   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.omnetpp.ned.editor.text.assist.NedContextType"
            id="org.omnetpp.ned.editor.text.default"
            name="NED File global context"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.omnetpp.ned.editor.text.ToggleComment"
            contextId="org.omnetpp.context.nedTextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/">
      </key>
      <key
            commandId="org.omnetpp.ned.editor.text.FormatSource"
            contextId="org.omnetpp.context.nedTextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F">
      </key>
      <key
            commandId="org.omnetpp.ned.editor.text.GotoDeclaration"
            contextId="org.omnetpp.context.nedTextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
      <key
            commandId="org.omnetpp.ned.editor.text.OrganizeImports"
            contextId="org.omnetpp.context.nedTextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+O">
      </key>
      <key
            commandId="org.omnetpp.ned.editor.text.CorrectIndentation"
            contextId="org.omnetpp.context.nedTextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+I">
      </key>
      <key
            commandId="org.omnetpp.ned.editor.text.performTextSearchWorkspace"
            contextId="org.omnetpp.context.nedTextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+G">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            description="Comment/Uncomment the selected lines"
            id="org.omnetpp.ned.editor.text.ToggleComment"
            name="Toggle Comment">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            description="Format the NED source file"
            id="org.omnetpp.ned.editor.text.FormatSource"
            name="Format NED Source">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            description="Go to declaration of NED element"
            id="org.omnetpp.ned.editor.text.GotoDeclaration"
            name="Goto Declaration">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            description="Organizes the import statements in a NED source file"
            id="org.omnetpp.ned.editor.text.OrganizeImports"
            name="Organize Imports">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            description="Reindent selected lines of the NED source"
            id="org.omnetpp.ned.editor.text.CorrectIndentation"
            name="Correct Indentation">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            description="Convert the NED source to the OMNeT++ 4.0 format"
            id="org.omnetpp.ned.editor.text.ConvertToNewFormat"
            name="Convert to 4.0 Format">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            description="Perform text search in workspace NED files"
            id="org.omnetpp.ned.editor.text.performTextSearchWorkspace"
            name="Search Text in NED Files">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="OMNeT++ NED Editor"
            id="org.omnetpp.context.nedEditor"
            name="Editing NED File"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
      <context
            description="OMNeT++ NED Source Editor"
            id="org.omnetpp.context.nedTextEditor"
            name="Editing NED Source"
            parentId="org.omnetpp.context.nedEditor">
      </context>
      <context
            description="OMNeT++ NED Graphical Editor"
            id="org.omnetpp.context.nedGraphEditor"
            name="Editing NED Graphically"
            parentId="org.omnetpp.context.nedEditor">
      </context>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.omnetpp.ned.editor.NedEditorPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
