${modelTool.ClassName}::~${modelTool.ClassName}()
	{
#foreach($sm in $modelTool.StateMachines)
	if (${modelTool.getInstanceName($sm)})
		{
		delete ${modelTool.getInstanceName($sm)};
		${modelTool.getInstanceName($sm)} = NULL;
		}
#end	
	}
