${modelTool.ClassName}* ${modelTool.ClassName}::NewL(
#modelEngineConstructorParameters(8 ")")
    {
    ${modelTool.ClassName}* self = ${modelTool.ClassName}::NewLC(
        #foreach($coHandler in $modelTool.COHandlers)
#if($velocityCount < $modelTool.COHandlers.size())
#set($sep = ",")
#else
#set($sep = ");")
#end
${modelTool.getParamName($coHandler)}$sep #end

	CleanupStack::Pop(self);
    return self;
    }

${modelTool.ClassName}* ${modelTool.ClassName}::NewLC(
#modelEngineConstructorParameters(8 ")")
    {
    ${modelTool.ClassName}* self = new (ELeave) ${modelTool.ClassName};
    CleanupStack::PushL(self);
    self->ConstructL(
        #foreach($coHandler in $modelTool.COHandlers)
#if($velocityCount < $modelTool.COHandlers.size())
#set($sep = ",")
#else
#set($sep = ");")
#end
${modelTool.getParamName($coHandler)}$sep #end

    return self;
    }
