void ${modelTool.ClassName}::ConstructL(
#modelEngineConstructorParameters(8 ")")
	{
#foreach($sm in $modelTool.StateMachines)
	${modelTool.getInstanceName($sm)} = new (ELeave) ${modelTool.getSMTool($sm).ClassName}(*this);
#end
#foreach($sm in $modelTool.StateMachines)

#foreach($assoc in $modelTool.getSMTool($sm).COAssocs)
	${modelTool.getInstanceName($sm)}->${modelTool.getSMTool($sm).getSetterName($assoc)}(${modelTool.getParamName($assoc.Target)});
#end
#foreach($assoc in $modelTool.getSMTool($sm).SMAssocs)
	${modelTool.getInstanceName($sm)}->${modelTool.getSMTool($sm).getSetterName($assoc)}(${modelTool.getInstanceName($assoc.Target)});
#end
#end
	}
