/*
 * Returns name of the given event
 */
const TDesC& ${modelTool.ClassName}::EventName(${modelTool.ClassName}::EEvent anEvent) const
	{
	switch (anEvent)
	    {
#foreach ($event in $modelTool.Events)
	    case ${modelTool.getEventConst($event)}:
			{
			_LIT(KEventName, "${event.Name}");
		    return KEventName;
			}
#end

        default:
			{
			_LIT(KEventName, "*");
			return KEventName;
			}
		}
	}
