/*
 * Returns superstate of the given state of automaton ${sm.Name}
 */
$smTool.ClassName::EState $smTool.ClassName::GetSuperstate($smTool.ClassName::EState aState) const
	{
	switch (aState)
	    {
#foreach($state in $smTool.States)
#if(! $state.Top)
	    case $smTool.getStateTool($state).Const:
		    return $smTool.getStateTool($state.Superstate).Const;
#end		
#end
        default:
			// For top and unexisting states
			return UNKNOWN_STATE;
		}
	}
