#macro(listHeader $list $header $offset)
#if ($list.size() > 0)
$modelTool.offset($offset)/* $header */
#end
#end
##
#macro(modelEngineConstructorParameters $offset $closingParenthesis)
#foreach($coHandler in $modelTool.COHandlers)
#if($velocityCount < $modelTool.COHandlers.size())
#set($sep = ",")
#else
#set($sep = $closingParenthesis)
#end
$modelTool.offset($offset)$coHandler.ImplName* ${modelTool.getParamName($coHandler)}$sep
#end
#end
##
#if ($renderHeader)
#parse("org/omnetpp/experimental/unimod/generator/cpp/templates/header.vm")
#else
#parse("org/omnetpp/experimental/unimod/generator/cpp/templates/implementation.vm")
#end
