/*
 * Returns superstate of the given state of automaton ${sm.Name}
 */
const TDesC& $smTool.ClassName::StateName($smTool.ClassName::EState aState) const
	{
	switch (aState)
	    {
#foreach($state in $smTool.States)
	    case $smTool.getStateTool($state).Const:
			{
			_LIT(KStateName, "${state.Name}");
		    return KStateName;
			}
#end
        default:
			{
			_LIT(KStateName, "<<Unknown>>");
			return KStateName;
			}
		}
	}
