#macro(listTransitions $event $baseOffset)
#set($trueTransitions = $sTool.getTrueTansitions($event))
#set($condTransitions = $sTool.getCondTansitions($event))
#set($elseTransitions = $sTool.getElseTansitions($event))
#set($extOffset = $baseOffset + 4)
#if($trueTransitions.size() > 0)
#foreach ($t in $trueTransitions)
#if($velocityCount == 1)
#transite($t "targetState" $baseOffset)
#else
$modelTool.offset($baseOffset)// Warning: Inconsitence: skipping inconditional transition $t
#end						
#end
#foreach ($t in $condTransitions)
$modelTool.offset($baseOffset)// Warning: Inconsitence: skipping conditional transition $t
#end
#else
#if ($condTransitions.size() > 0) 
#foreach ($t in $condTransitions)
#if($velocityCount > 1)
                        else
#end						
	                    if ($modelTool.getGuard($t.Guard))
						    {
#transite($t "targetState" $extOffset)
						    }
#end
#foreach($t in $elseTransitions)
#if($velocityCount == 1)
                        else
						    {
#transite($t "targetState" $extOffset)
							}
#else
$modelTool.offset($baseOffset)// Warning: Inconsitence: skipping else transition $t
#end						                      
#end
#else
#foreach($t in $elseTransitions)
#if($velocityCount == 1)
#transite($t "targetState" $baseOffset)
#else
$modelTool.offset($baseOffset)// Warning: Inconsitence: skipping else transition $t
#end						                      
#end
#end
#end
#end
/*
 * Selects transition and transites.
 */
$smTool.ClassName::EState $smTool.ClassName::TransiteOnEventL($modelTool.ClassName::EEvent aEvent, $contextClass& aContext)
	{
	$smTool.ClassName::EState targetState = UNKNOWN_STATE;
#set ($top = $smTool.getStateTool($sm.Top).Const)
	for ($smTool.ClassName::EState sourceState = iState; targetState == UNKNOWN_STATE && sourceState != $top; sourceState = GetSuperstate(sourceState))
		{
        switch (sourceState) 
    	    {
#foreach ($state in $smTool.States)
            /* State: $state.Name */
#set($sTool = $smTool.getStateTool($state))
            case $sTool.Const:
                switch (aEvent)
    			    {
#foreach ($event in $sTool.Events)
					case $modelTool.ClassName::EEvent::$modelTool.getEventConst($event):
#listTransitions($event 24)						
	                    break;
#end
                    default: ;// Do nothing if no event was triggered
					}
			    break;
#end
			}
		}
		
	// Look for default transition
	for ($smTool.ClassName::EState sourceState = iState; targetState == UNKNOWN_STATE && sourceState != $top; sourceState = GetSuperstate(sourceState))
		{
        switch (sourceState) 
    	    {
#foreach ($state in $smTool.States)
            /* State: $state.Name */
#set($sTool = $smTool.getStateTool($state))
            case $sTool.Const:
#listTransitions($sTool.AnyEvent 16)			
			    break;
#end
			}
		}
	
	// If no transition was found stay in current state
	return targetState != UNKNOWN_STATE ? targetState : iState;
	}
