<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Replay Animation Editor"
            extensions="anim"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.omnetpp.experimental.animation.editors.ReplayAnimationEditor"
            id="org.omnetpp.experimental.animation.editors.ReplayAnimationEditor">
      </editor>
      <editor
            name="Live Animation Editor"
            extensions="launch"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.omnetpp.experimental.animation.editors.LiveAnimationEditor"
            id="org.omnetpp.experimental.animation.editors.LiveAnimationEditor">
      </editor>
   </extension>

</plugin>
