<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="omnetpp" sequenceNumber="8">
<locations>
<location path="${eclipse_home}/target/cdt" type="Directory"/>
<location path="${eclipse_home}/target/linuxtools" type="Directory"/>
<location path="${eclipse_home}/target/deltapack" type="Directory"/>
<location path="${eclipse_home}" type="Profile"/>
</locations>
<environment>
<nl>en_US</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.5 -XX:MaxPermSize=256m -Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
