<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.omnetpp.samples.queuenet.editors.TerminalAnimationEditor"
            contributorClass="org.omnetpp.animation.editors.AnimationContributor"
            default="false"
            extensions="elog"
            icon="icons/full/eobj16/animation.gif"
            id="org.omnetpp.samples.queuenet.editors.TerminalAnimationEditor"
            name="Terminal Animation Player">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.omnetpp.views"
            class="org.omnetpp.samples.queuenet.editors.TerminalAnimationView"
            icon="icons/full/eview16/animation.gif"
            id="org.omnetpp.samples.queuenet.editors.TerminalAnimationView"
            name="Terminal Animation">
      </view>
   </extension>
</plugin>
