<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.omnetpp.launch.StandaloneOmnetppSimulationLaunchConfiguration"
            delegateName="OMNeT++ Simulation Launcher"
            id="org.omnetpp.launch.standaloneLaunchConfigurationType"
            modes="run"
            name="OMNeT++ Simulation"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.omnetpp.launch.StandaloneOmnetppLaunchConfigurationTabGroup"
            id="org.omnetpp.launch.standaloneLaunchConfigurationTabGroup"
            type="org.omnetpp.launch.standaloneLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.omnetpp.launch.standaloneLaunchConfigurationType"
            icon="icons/full/ctool16/omnetsim.gif"
            id="org.omnetpp.launch.standaloneLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="org.omnetpp.launch.tabs.SimulationTab"
            group="org.eclipse.cdt.launch.localRunLaunchTabGroup"
            id="org.omnetpp.launch.omnetppmain"
            name="Simulation">
         <placement
               after="org.eclipse.debug.ui.environmentTab">
         </placement>
      </tab>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="description"
            name="ned_source_path"
            resolver="org.omnetpp.launch.NedSourcePathVariableResolver"
            supportsArgument="false">
      </variable>
   </extension>

</plugin>
