<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegateDescription="Launch an OMNeT++ simulation or simulation batch"
            delegateName="OMNeT++ Simulation Launches"
            id="org.omnetpp.launch.simulationLaunchConfigurationType"
            name="OMNeT++ Simulation"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.omnetpp.launch.SimulationRunConfigurationDelegate"
            delegateDescription="Allows running an OMNeT++ simulation in standalone or batched mode"
            id="org.omnetpp.launch.simulationLaunchDelegate"
            modes="run"
            name="OMNeT++ Batched Simulation Launcher"
            type="org.omnetpp.launch.simulationLaunchConfigurationType">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.omnetpp.launch.SimulationLaunchConfigurationTabGroup"
            description="Allows running and debugging an OMNeT++ simulation"
            id="org.omnetpp.launch.simulationLaunchConfigurationTabGroup"
            type="org.omnetpp.launch.simulationLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.omnetpp.launch.simulationLaunchConfigurationType"
            icon="icons/full/ctool16/omnetsim.gif"
            id="org.omnetpp.launch.simulationLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
<extension
point="org.eclipse.debug.ui.launchShortcuts">
<shortcut
      class="org.omnetpp.launch.SimulationLaunchShortcut"
      description="Starts an OMNeT++ Simulation"
      icon="icons/full/ctool16/omnetsim.gif"
      id="org.omnetpp.launch.shortcut"
      label="OMNeT++ Simulation..."
      modes="run, debug">
<contextualLaunch>
  <enablement>
    <with variable="selection">
      <count value="1"/>
      <iterate>
        <or>
        <test property="org.eclipse.debug.ui.matchesPattern" value="*.ini"/>
        <test property="org.eclipse.debug.ui.matchesPattern" value="*.ned"/>
        <instanceof
              value="org.eclipse.core.resources.IFolder">
        </instanceof>
        <instanceof
              value="org.eclipse.core.resources.IProject">
        </instanceof>
        </or>
      </iterate>
    </with>
  </enablement>
	 </contextualLaunch>
<description
      description="Runs an OMNeT++ Simulation"
      mode="run">
</description>
<description
      description="Debugs an OMNeT++ Simulation"
      mode="debug">
</description>
<configurationType
      id="org.omnetpp.launch.simulationLaunchConfigurationType">
</configurationType>
</shortcut>   


</extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="launch"
            icon="icons/launchfile.png"
            id="org.omnetpp.launch.editor"
            launcher="org.omnetpp.launch.ConfigurationLauncher"
            name="Configuration Launcher">
      </editor>
   </extension>
</plugin>
