<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.omnetpp.ned2.editor.tree.Ned2ModelWizardID"
      name = "%_UI_Ned2ModelWizard_label"
      class = "org.omnetpp.ned2.editor.tree.Ned2ModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/Ned2ModelFile.gif">
      <description>%_UI_Ned2ModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.omnetpp.ned2.editor.tree.Ned2EditorID"
        name = "%_UI_Ned2Editor_label"
        icon = "icons/full/obj16/Ned2ModelFile.gif"
        extensions = "ned2"
        class = "org.omnetpp.ned2.editor.tree.Ned2Editor" 
        contributorClass="org.omnetpp.ned2.editor.tree.Ned2ActionBarContributor" >
    </editor>
  </extension>    
</plugin>
