<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!-- =========================================================================== -->
<!-- Text based NED editor                                                       -->
<!-- =========================================================================== -->

   
   <extension
         id="NedDocumentSetupParticipant"
         name="NED Document Setup Participant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="ned"
            class="org.omnetpp.ned.editor.text.NedDocumentSetupParticipant">
      </participant>
   </extension>

   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.omnetpp.ned.editor.text.assist.NedContextType"
            id="org.omnetpp.ned.editor.text.default"
            name="NED File global context"/>
   </extension>
   
</plugin>
