<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!-- =========================================================================== -->
<!-- Text based NED editor                                                       -->
<!-- =========================================================================== -->

   
   <extension
         id="NedDocumentSetupParticipant"
         name="%documentSetupParticipantName"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="ned"
            class="org.omnetpp.ned.editor.text.NedDocumentSetupParticipant">
      </participant>
   </extension>

   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.omnetpp.ned.editor.text.assist.NedContextType"
            id="org.omnetpp.ned.editor.text.default"
            name="NED File"/>
      <resolver
            name="Parameters"
            type="param"
            icon="icons/16/resolver.gif"
            description="Module parameters"
            contextTypeId="org.omnetpp.ned.editor.text.default"
            class="org.omnetpp.ned.editor.text.assist.NedVariableResolver">
      </resolver>
      <resolver
            name="Module type"
            type="modtype"
            icon="icons/16/resolver.gif"
            description="Module type"
            contextTypeId="org.omnetpp.ned.editor.text.default"
            class="org.omnetpp.ned.editor.text.assist.NedVariableResolver">
      </resolver>
      <resolver
            class="org.omnetpp.ned.editor.text.assist.NedVariableResolver"
            contextTypeId="org.omnetpp.ned.editor.text.default"
            description="A NED file"
            icon="icons/16/resolver.gif"
            name="Filename"
            type="filename"/>
      <include
      		file="templates/ned.xml"
      		translations="templates/ned.properties">
      </include>
   </extension>
   
</plugin>
