<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision fileVersion="4.0.0"/>
      <toolChain
            id="org.eclipse.cdt.msvc.toolchain.base"
            isAbstract="true"
            isToolChainSupported="org.omnetpp.cdt.academic.MSVcToolchainIsSupported"
            name="Microsoft Visual C++ is not supported in Academic version"
            osList="win32">
      </toolChain>
      <configuration
            artifactExtension="exe"
            id="org.eclipse.cdt.msvc.configuration">
      </configuration>
   </extension>

</plugin>
