<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision fileVersion="4.0.0"/>
      <toolChain
            id="org.omnetpp.cdt.msvc.toolchain"
            isAbstract="true"
            isToolChainSupported="org.omnetpp.academic.cdt.MsvcToolchainIsSupported"
            name="Microsoft Visual C++ is not supported in the Academic version"
            osList="win32">
      </toolChain>
      <configuration
            artifactExtension="exe"
            id="org.omnetpp.cdt.msvc.configuration">
      </configuration>
   </extension>

</plugin>
