<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.omnetpp.experimental.unimod.generator.cpp"
   name="OMNeT++ C++ Source Generator"
   version="1.3.1.24"
   provider-name="OpenSim Ltd">

   <runtime>
      <library name="unimod-generator-omnetpp.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="com.evelopers.unimod"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.ui.ide"/>
   </requires>
   <extension
         point="com.evelopers.unimod.generator">
      <generator
            class="org.omnetpp.experimental.unimod.generator.cpp.CppSourceGenerator"
            name="OMNeT++ C++ Source Generator"/>
   </extension>

</plugin>
