<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/xhtml;charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta name="generator" content="OMNeT++ NED doc generator"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet" href="material-icons.css">
<link rel="stylesheet" href="material.blue-light_blue.min.css">
<link rel="stylesheet" href="style.css" type="text/css" />

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="dynsections.js"></script>
<script type="text/javascript" src="navtreedata.js"></script>
<script type="text/javascript" src="navtree.js"></script>
<title>@title@</title>
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div id="top" class="mdl-layout__header-row">
      <span class="mdl-layout-title">@title@</span>
      <div class="mdl-layout-spacer"></div>
<!--
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search" />
          <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons">code</i>
      </button>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
        <li class="mdl-menu__item">OMNeT++ Website</li>
      </ul>
-->
    </div>
  </header>

  <div class="drawer mdl-layout__drawer">
    <nav id="side-nav" class="mdl-navigation">
      <div id="nav-tree">
        <div id="nav-tree-contents">
          <div id="nav-sync" class="sync"></div>
        </div>
      </div>
    </nav>
  </div>
  <script type="text/javascript">
  $(document).ready(function(){initNavTree(location.pathname.split("/").slice(-1).toString(),'');});
  </script>

  <main class="mdl-layout__content">
    <div id="doc-content">
    <div class="contents">

    @content@

    </div><!-- contents -->
    </div><!-- doc-content -->
  </main>
</div>

<script type="text/javascript" src="material.min.js"></script>
</body>
</html>
