<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

     <extension id="product"
         name="OMNEST/OMNeT++ Integrated Development Environment"
	 point="org.eclipse.core.runtime.products">
      <product name="OMNeT++ IDE" application="org.eclipse.ui.ide.workbench" description="%productBlurb">
          <property name="appName" value="OMNeT++ IDE"/>
          <property name="preferenceCustomization" value="plugin_customization.ini"/>
         <property
          		name="introTitle"
          		value="Intro title"/>
          <property
          		name="introBrandingImage"
          		value="product:intro-eclipse.png"/>
          <property
          		name="introBrandingImageText"
          		value="%productIntroBrandingText"/>
		  <property
				name="introDescription-overview"
				value="%introDescription-overview"/>
		  <property
				name="introDescription-tutorials"
				value="%introDescription-tutorials"/>
		  <property
				name="introDescription-samples"
				value="%introDescription-samples"/>
    <property
          name="aboutText"
          value="OMNEST/OMNeT++ Integrated Development Environment, based on Eclipse platform."/>
    <property
          name="aboutImage"
          value="icons/omnest128.gif"/>
    <property
          name="windowImages"
          value="icons/omnest16.gif,icons/omnest32.gif,icons/omnest48.gif,icons/omnest64.gif,icons/omnest128.gif"/>
    <property
          name="startupForegroundColor"
          value="000000">
    </property>
    <property
          name="startupMessageRect"
          value="10,20,500,25">
    </property>
    <property
          name="startupProgressRect"
          value="10,10,300,10">
    </property>
      </product>
   </extension>
   <extension
         id="omnetppnature"
         name="OMNeT++ Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.omnetpp.ide.OmnetppNature">
            <parameter
                  name="installBuilder"
                  value="true"/>
         </run>
      </runtime>
      <builder id="org.omnetpp.scave.builder.vectorfileindexer"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.omnetpp.wizards"
            class="org.omnetpp.ide.wizard.NewOmnetppProjectWizard"
            icon="icons/newoproject.gif"
            id="org.omnetpp.ide.wizard.newProjectWizard"
            name="OMNEST/OMNeT++ Project"
            project="true">
         <description>
            Create a Project that can handle OMNEST/OMNeT++ specific files, like NED, VEC, SCA etc.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.omnetpp.ide.PerspectiveFactory"
            icon="icons/omnest16.gif"
            id="org.omnetpp.main.OmnetppPerspective"
            name="OMNeT++"/>
   </extension>
   <extension   
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="org.omnetpp.main.OmnetppPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="org.eclipse.ui.resourcePerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.omnetpp.main.OmnetppPerspective">
         <perspectiveShortcut
               id="org.omnetpp.main.OmnetppPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.omnetpp.main.OmnetppPerspective">
         <perspectiveShortcut
               id="org.eclipse.ui.resourcePerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         id="omnetppNatureImagea"
         name="OMNeT++ Nature Overlay Image"
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/o_ovr.gif"
            id="omnetppNatureImage"
            natureId="org.omnetpp.ide.omnetppnature"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.omnetpp.main.OmnetppCategory"
            class="org.omnetpp.ide.properties.NEDSourceFoldersPropertyPage"
            id="org.omnetpp.main.NEDSourceFolders"
            name="NED Source Folders">
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject">
               <test property="org.eclipse.core.resources.projectNature" value="org.omnetpp.main.omnetppnature"/>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.omnetpp.main.OmnetppCategory"
            class="org.omnetpp.ide.properties.DocumentationGeneratorPropertyPage"
            id="org.omnetpp.main.DocumentationGenerator"
            name="Documentation Generator">
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject">
               <test property="org.eclipse.core.resources.projectNature" value="org.omnetpp.main.omnetppnature"/>
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="org.omnetpp.ide.properties.EmptyPropertyPage"
            id="org.omnetpp.main.OmnetppCategory"
            name="OMNEST/OMNeT++">
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject">
               <test property="org.eclipse.core.resources.projectNature" value="org.omnetpp.main.omnetppnature"/>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.omnetpp.main.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.omnetpp.ide.ToggleNatureAction"
               enablesFor="+"
               id="org.omnetpp.ide.addRemoveNatureAction"
               label="Add/Remove OMNeT++ Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.omnetpp.ide.preferences.OmnetppPreferencePage"
            id="org.omnetpp.cdt.OmnetppCdtPreferencePage"
            name="OMNEST/OMNeT++">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.omnetpp.ide.preferences.OmnetppPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
