<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

     <extension id="product" 
         name="OMNeT++ Integrated Development Environment"
	 point="org.eclipse.core.runtime.products"> 
      <product name="OMNeT++ IDE" application="org.eclipse.ui.ide.workbench" description="%productBlurb"> 
          <property name="appName" value="OMNeT++ Integrated Development Environment"/> 
          <property name="preferenceCustomization" value="plugin_customization.ini"/> 
         <property
          		name="introTitle"
          		value="Intro title"/>
          <property
          		name="introBrandingImage"
          		value="product:intro-eclipse.png"/>
          <property
          		name="introBrandingImageText"
          		value="%productIntroBrandingText"/>
		  <property
				name="introDescription-overview"
				value="%introDescription-overview"/>
		  <property
				name="introDescription-tutorials"
				value="%introDescription-tutorials"/>
		  <property
				name="introDescription-samples"
				value="%introDescription-samples"/>
    <property
          name="startupForegroundColor"
          value="000000"/>
    <property
          name="startupMessageRect"
          value="10,30,500,25"/>
    <property
          name="startupProgressRect"
          value="10,10,300,10"/>
    <property
          name="aboutText"
          value="about text"/>                
      </product> 
   </extension> 
   <extension
         id="omnetppnature"
         name="OMNeT++ Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.omnetpp.ide.OmnetppNature">
            <parameter
                  name="installBuilder"
                  value="true"/>
         </run>
      </runtime>
      <builder
            id="org.omnetpp.ned.builder.nedbuilder">
      </builder>
      <builder id="org.omnetpp.scave.builder.vectorfileindexer"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.omnetpp.wizards"
            class="org.omnetpp.ide.wizard.NewOmnetppProjectWizard"
            icon="icons/project.gif"
            id="org.omnetpp.ide.wizard.newProjectWizard"
            name="OMNEST/OMNeT++ Project"
            project="true">
         <description>
            Create a Project that can handle OMNEST/OMNeT++ specific files, like NED, VEC, SCA etc.
         </description>
      </wizard>
   </extension>
</plugin>
