<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

     <extension id="product"
         name="OMNeT++ Integrated Development Environment"
	 point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="OMNeT++ IDE">
          <property name="appName" value="OMNeT++ IDE"/>
          <property name="preferenceCustomization" value="plugin_customization.ini"/>
         <property
          		name="introTitle"
          		value="Intro title"/>
          <property
          		name="introBrandingImage"
          		value="product:icons/intro-image.png"/>
          <property
          		name="introBrandingImageText"
          		value="OMNeT++ Simulation Environment"/>
		  <property
				name="introDescription-overview"
				value="Welcome to the OMNeT++ Simulation Environment. Choose a topic you want to learn more about."/>
		  <property
          name="introDescription-tutorials"
          value=" "/>
		  <property
          name="introDescription-samples"
          value=" "/>
		  <property
          name="introDescription-migrate"
          value=" "/>
    <property
          name="aboutText"
          value="OMNeT++ Integrated Development Environment."/>
    <property
          name="aboutImage"
          value="icons/about-image.png"/>
    <property
          name="windowImages"
          value="icons/logo16.png,icons/logo32.png,icons/logo48.png,icons/logo64.png,icons/logo128.png"/>
    <property
          name="startupForegroundColor"
          value="000000">
    </property>
    <property
          name="startupMessageRect"
          value="10,20,500,25">
    </property>
    <property
          name="startupProgressRect"
          value="10,10,298,10">
    </property>
      </product>
   </extension>
   <extension
         id="omnetppnature"
         name="OMNeT++ Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.omnetpp.ide.OmnetppNature">
            <parameter
                  name="installBuilder"
                  value="true"/>
         </run>
      </runtime>
      <builder id="org.omnetpp.scave.builder.vectorfileindexer"/>
   </extension>
   <extension
         id="omnetppNatureImage"
         name="OMNeT++ Nature Overlay Image"
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/o_ovr.gif"
            id="omnetppNatureImage"
            natureId="org.omnetpp.main.omnetppnature"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.omnetpp.ide.PerspectiveFactory"
            icon="icons/logo16.png"
            id="org.omnetpp.main.OmnetppPerspective"
            name="Simulation"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="org.omnetpp.main.OmnetppPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.omnetpp.main.OmnetppPerspective">
         <perspectiveShortcut
               id="org.eclipse.ui.resourcePerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.omnetpp.main.OmnetppPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.omnetpp.ide.navigator.OmnetppNavigatorTreeContentProvider"
            icon="icons/logo16.png"
            id="org.omnetpp.navigator.content"
            labelProvider="org.omnetpp.ide.navigator.OmnetppNavigatorLabelProvider"
            name="OMNeT++ Elements"
            priority="high">
       <enablement>
			               <adapt
			                     type="org.eclipse.core.resources.IResource">
			                 <test
			                     property="org.eclipse.core.resources.projectNature"
			                     value="org.omnetpp.main.omnetppnature">
			                 </test>
			               </adapt>
       </enablement>
       <override
             policy="InvokeAlwaysRegardlessOfSuppressedExt"
             suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
       </override>
      </navigatorContent>
      <commonFilter
            activeByDefault="false"
            description="Hides all OMNeT++ generated temporary files (*.vci, *_m.cc, *_m.h)"
            id="org.omnetpp.main.opp_tmp_file_filter"
            name="OMNeT++ temporary files">
         <filterExpression>
            <adapt type="org.eclipse.core.resources.IFile">
              <or>
        		<test property="org.eclipse.core.resources.name" value="*.vci"/>
        		<test property="org.eclipse.core.resources.name" value="*_m.cc"/>
        		<test property="org.eclipse.core.resources.name" value="*_m.h"/>
        	  </or>	
        	</adapt>	            
         </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            description="Show only OMNeT++ files (*.ned, *.msg, *.ini, *.cc, *.h, *.elog, *.anf, *.sca, *.vec)"
            id="org.omnetpp.main.non_opp_files"
            name="Show only OMNeT++ files">
         <filterExpression>
            <adapt type="org.eclipse.core.resources.IFile">
            <or>
	            <not>
		              <or>
		        		<test property="org.eclipse.core.resources.name" value="*.ned"/>
		        		<test property="org.eclipse.core.resources.name" value="*.cc"/>
		        		<test property="org.eclipse.core.resources.name" value="*.h"/>
		        		<test property="org.eclipse.core.resources.name" value="*.msg"/>
		        		<test property="org.eclipse.core.resources.name" value="*.ini"/>
		        		<test property="org.eclipse.core.resources.name" value="*.elog"/>
		        		<test property="org.eclipse.core.resources.name" value="*.anf"/>
		        		<test property="org.eclipse.core.resources.name" value="*.vec"/>
		        		<test property="org.eclipse.core.resources.name" value="*.sca"/>
		        	  </or>
	        	 </not>
	        	 <test property="org.eclipse.core.resources.name" value="*_m.h"/>
	         	 <test property="org.eclipse.core.resources.name" value="*_m.cc"/>
        	 </or>	
        	</adapt>	            
         </filterExpression>
      </commonFilter>
   </extension>
  <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
        <includes>
           <contentExtension pattern="org.omnetpp.*"/>
        </includes>
     </viewerContentBinding>
  </extension>
 
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.omnetpp.main.contribution.addRemoveOPPSupport"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.omnetpp.ide.ToggleNatureAction"
               enablesFor="+"
               id="org.omnetpp.ide.addRemoveNatureAction"
               label="Add/Remove OMNeT++ Support">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.omnetpp.main.OmnetppCategory"
            class="org.omnetpp.ide.properties.NEDSourceFoldersPropertyPage"
            id="org.omnetpp.main.NEDSourceFolders"
            name="NED Source Folders">
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
         <filter
               name="projectNature"
               value="org.omnetpp.main.omnetppnature">
         </filter>
      </page>
      <page
            class="org.omnetpp.ide.properties.EmptyPropertyPage"
            id="org.omnetpp.main.OmnetppCategory"
            name="OMNeT++">
         <filter
               name="projectNature"
               value="org.omnetpp.main.omnetppnature">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.omnetpp.ide.preferences.OmnetppPreferencePage"
            id="org.omnetpp.cdt.OmnetppCdtPreferencePage"
            name="OMNeT++">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.omnetpp.ide.preferences.OmnetppPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="Expands to the OMNeT++ root directory location"
            name="opp_root"
            resolver="org.omnetpp.ide.variables.OmnetppDirResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Expands to the OMNeT++ bin directory location"
            name="opp_bin_dir"
            resolver="org.omnetpp.ide.variables.OmnetppDirResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Expands to the OMNeT++ include directory location"
            name="opp_incl_dir"
            resolver="org.omnetpp.ide.variables.OmnetppDirResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Expands to the OMNeT++ lib directory location"
            name="opp_lib_dir"
            resolver="org.omnetpp.ide.variables.OmnetppDirResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Expands to the NED source path (workspace paths, separated by the platform's path separator)"
            name="opp_ned_path"
            resolver="org.omnetpp.ide.variables.NedPathResolver"
            supportsArgument="true">
      </variable>
      <variable
            description="Expands to the NED source path (location paths, separated by the platform's path separator)"
            name="opp_ned_path_loc"
            resolver="org.omnetpp.ide.variables.NedPathResolver"
            supportsArgument="true">
      </variable>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.omnetpp.ide.OmnetppStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.omnetpp.views"
            class="org.omnetpp.ide.views.NewsView"
            icon="icons/logo16.png"
            id="org.omnetpp.main.NewsView"
            name="OMNeT++ News">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.help"
            defaultHandler="org.omnetpp.ide.ReportBugHandler"
            description="Report a bug or enhancement in the OMNeT++ bugtracker"
            id="org.omnetpp.main.commands.reportBug"
            name="Report Bug or Enhancement...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:help?before=helpEnd">
            <command
                  commandId="org.omnetpp.main.commands.reportBug"
                  id="reportBug">
            </command>
      </menuContribution>
   </extension>
</plugin>
